[2019-05-10 08:52] atherdon opened #1 "https://blog.heroku.com/cli-flags-get-started-with-oclif"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-05-27 20:41] atherdon opened #39 "small fixes - generator"
1) Config Generator -- why we comment a few things, methods?
if we don't need them. lets then add and comment more objects. and hide them for next times?

----

2) for generator -- we need to create folders for each generated file as well(compare with `src/data`).

### Expected Behavior / Situation

### Actual Behavior / Situation

### Modification Proposal

[2019-06-04 09:16] atherdon opened #13 "this will be our points of export at index.js?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
![image](https://user-images.githubusercontent.com/1469198/58867073-7539a400-86c2-11e9-9b91-9777434abfa1.png)

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A cl

[2019-06-30 09:20] atherdon opened #35 "improve readme and put there all information that we have at SD readme right now"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-06-30 11:06] vadim9999 opened #37 "Discussion"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-06-30 11:13] vadim9999 commented on #37
My thoughts about generating from sd:
1. Grab all data from src/data in one array. With this big data call generator`s function that will regenerate it

[2019-06-30 11:15] vadim9999 commented on #37
Have you created npm publishing?

[2019-06-30 11:20] atherdon commented on #37
no, i didn't publish it - because code at this repo didn't work. i just
made it as a template - you should move all code from sd again. code here
is old and don't work well

you can publish it when it will work - you have that access

[2019-06-30 19:48] atherdon opened #40 "add codeclimate, husky, lint-staged to our development process"
**Is your feature request related to a problem? Please describe.**
- [x] CodeClimate
- [x] Husky
- [ ] LintStaged. I assume that for making lint staged works we should finish #51
- [ ] Another advanced stuff for code + CI(upon request will find it in my notes)

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and c

[2019-06-30 20:42] atherdon opened #41 "replace standard with eslint"
**Is your feature request related to a problem? Please describe.**
as we have babel, you should add bridge between babel and eslint and maybe connect it not only at babel.config.js but also at rollup(only in case if eslint wouldn't work well at rollup build)

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and con

[2019-06-30 20:44] atherdon opened #42 "generator should be written at ES6 - so we'll get features from babel and from rollup checks and from eslit as well"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-06-30 20:48] atherdon opened #43 "Config Generator -- why we comment a few things, methods?"
if we don't need them. lets then add and comment more objects. and hide them for next times?

for generator -- we need to create folders for each generated file as well(compare with `src/data`).

filesES5 -- we have very long paths
we should make it less long. we can update to ```var { resolve } = require('path') and make files easy to read again.

[2019-06-30 20:53] atherdon opened #44 "package.json clean up"
**Is your feature request related to a problem? Please describe.**
remove these lines:
-  https://github.com/GroceriStar/food-static-files-generator/blob/master/package.json#L15-L17
- https://github.com/GroceriStar/food-static-files-generator/blob/master/package.json#L49-L50
- https://github.com/GroceriStar/food-static-files-generator/blob/master/package.json#L54-L55
- https://github.com/GroceriSt

[2019-06-30 22:17] #44 closed

[2019-06-30 22:19] atherdon commented on #41
here you'll need to make some research. more details about how rollup works and how to make a separated module that publish at npm you can read from links here: https://github.com/ChickenKyiv/awesome-dev-stuff/tree/master/docs/create-npm-module

i'll try now to find just a few links that have an examples of eslint config at rollup. will post it here later

[2019-06-30 22:25] Edebo commented on #41
ok thanks

[2019-06-30 22:25] atherdon opened #46 "first bug at travis"
**Describe the bug**
https://travis-ci.org/GroceriStar/food-static-files-generator/jobs/552523511

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional

[2019-06-30 22:35] atherdon commented on #41
https://github.com/babel/babel-eslint#installation

[2019-06-30 22:44] atherdon commented on #41
https://blog.echobind.com/integrating-prettier-eslint-airbnb-style-guide-in-vscode-47f07b5d7d6a
https://www.grzegorowski.com/publishing-npm-package-with-rollup-babel-and/

[2019-06-30 23:00] atherdon opened #47 "Fix "method_complexity" issue in src/writeFile.js"
Function `updateContent` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/writeFile.js#issue_5d193beaddbe4d00010000e3

[2019-06-30 23:01] atherdon opened #48 "Fix "argument_count" issue in src/writeFile.js"
Function `splitObject` has 5 arguments (exceeds 4 allowed). Consider refactoring.

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/writeFile.js#issue_5d193beaddbe4d00010000e2

[2019-06-30 23:20] atherdon opened #49 "was tests moved?"
### Expected Behavior / Situation

### Actual Behavior / Situation

### Modification Proposal

[2019-06-30 23:21] atherdon opened #50 "testts es6 style"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-07-01 09:38] vadim9999 commented on #37
Why in all modules we are using es5? why we can't use es6? with using es6 doesn't need to convert

[2019-07-01 10:01] atherdon opened #54 "move projects outside from this module"
**Is your feature request related to a problem? Please describe.**
the main idea is simple. this module should have only methods that help to generate additional files, but all things like projects, csv parser and other should be independent as well and use this module as dependency inside of it

[2019-07-01 10:02] atherdon commented on #37
i agree to use es6. the first code was written by you at express-server, which is es5, and this is how it continues.

[2019-07-01 10:03] atherdon commented on #37
i mentioned it at #42

[2019-07-01 10:07] atherdon commented on #37
we have Andrew without tasks. Do you want grab him so he can help you here?

[2019-07-01 11:16] atherdon opened #57 "Fix "TODO" issue in src/csvParser.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/csvParser.js#issue_5d19ea9ab13dea00010000f6

[2019-07-01 11:23] atherdon opened #58 "instead of generating files at output folder - we'll generate them wherever user want."
**Is your feature request related to a problem? Please describe.**
as generator is a separated module - we cannot just generate files inside of it folders
it should be an argument, that will be a pass(should be checked) and if this path exists - we should put there a generated file/files

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solutio

[2019-07-01 11:29] atherdon opened #59 "How to test generator?"
**Is your feature request related to a problem? Please describe.**
Ok, so we trying to separate our generator outside of sd module. But how to test it correctly, so we can understand that it works well with different cases and different code styles?

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise desc

[2019-07-01 11:33] atherdon commented on #48
@AndrewSerra please also go to this link: https://github.com/GroceriStar
it'll add you finally to our GitHub organization(always forget to do it before)

you can work on this task, and later we'll figure with Vadim what to do for you next

[2019-07-01 11:34] atherdon opened #60 "src/configGenerator.js + GenerateFile/GenerateFiles/GenerateArray"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/configGenerator.js#issue_5d19ea9ab13dea00010000f7

---

#### Config Generator -- why we comment a few things, methods?

if we don't need them. lets then add and comment more objects. and hide them for next times?

for generator -- we need to create folders for each generated file as well(compare with src/data).

[2019-07-01 11:34] atherdon opened #61 "Fix "TODO" issue in src/play/play.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/play/play.js#issue_5d19ea9ab13dea00010000ff

[2019-07-01 11:35] atherdon opened #62 "Fix "TODO" issue in src/projects/USFA/files.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/projects/USFA/files.js#issue_5d19eaa2b13dea000100010b

[2019-07-01 11:35] atherdon opened #63 "Fix "TODO" issue in src/generateArray.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/generateArray.js#issue_5d19ea9ab13dea00010000f1

[2019-07-01 11:40] #62 closed

[2019-07-01 11:54] atherdon opened #64 "changes at utils.js"
**Is your feature request related to a problem? Please describe.**
1) move this file inside to src https://github.com/GroceriStar/food-static-files-generator/blob/master/utils.js
2) convert it into es6 style, i.e. replace `require` with `import` and `module.exports` with `export default {}`

[2019-07-01 11:57] atherdon opened #65 "rollup.config.js clean up"
**Is your feature request related to a problem? Please describe.**

- [x] remove https://github.com/GroceriStar/food-static-files-generator/blob/master/rollup.config.js#L3-L4
- [x] We wouldn't have json inside of this module. please remove it https://github.com/GroceriStar/food-static-files-generator/blob/master/rollup.config.js#L14

- [x] This is an old setup. it wouldn't work well with latest ch

[2019-07-01 12:21] atherdon opened #66 "todos generateFile.js"
**Is your feature request related to a problem? Please describe.**
file: https://github.com/GroceriStar/food-static-files-generator/blob/master/src/generateFile.js

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A cle

[2019-07-01 14:01] AndrewSerra commented on #48
great, starting now thanks!

[2019-07-01 14:19] AndrewSerra commented on #48
@atherdon we are still forking the repo and opening pull requests like before, right? no difference in process

[2019-07-01 14:28] vadim9999 opened #68 "Bug of empty MeasurementSystemUnits/measurementSystemUnits"
**Describe the bug**

A clear and concise description of what the bug is.
Generating of empty json MeasurementSystemUnits/measurementSystemUnits. This can be a simple mistake or typo. Find out what is the problem and fix this.
Here https://github.com/GroceriStar/food-static-files-generator/blob/master/src/generateArray.js#L125 is a function that returns an array with data. Here https://github.com/

[2019-07-01 14:57] atherdon commented on #48
yes, same coding workflow. we just moving out part of code from sd and
making it work separately

[2019-07-01 15:06] atherdon commented on #68
can you put more details so we can assign it to some of our team mates?

[2019-07-01 15:19] atherdon opened #69 "generate file todo"
**Is your feature request related to a problem? Please describe.**
https://github.com/GroceriStar/food-static-files-generator/blob/master/src/generateFile.js#L20-L22

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A c

[2019-07-01 16:29] vadim9999 commented on #68
ok

[2019-07-01 18:27] vadim9999 commented on #37
Yes, I can sign him a task with a bag on MeasurementUnits

[2019-07-01 18:28] vadim9999 commented on #37
Can I use in generator import and require at the same time?

[2019-07-01 18:38] atherdon commented on #37
you can try at least :)

[2019-07-01 18:40] atherdon commented on #37
we don't limited to having same numer of major files that we have at src
folder
we can split our methods between more files - maybe it'll add more logic to
how it works. because literally - i just can read code - i don't understand
the whole structure of how things work there. you can keep it in mind

[2019-07-01 20:05] svr8 commented on #46
Looking at the current HEAD of the branch, I think this issue has been resolved. There is a new error that replaces the issue described above: `Cannot find module '/home/travis/build/GroceriStar/sd/src/files' from 'generateArray.js'`

[2019-07-01 20:12] atherdon commented on #46
got it. please solve the problem that you mentioned.
I think previous error was solved by Vadim

[2019-07-01 20:38] AndrewSerra commented on #48
@atherdon is there a way I can run a single file to test what I have done? I couldn't figure it out. At least splitObject() function for now.

[2019-07-01 20:55] atherdon commented on #48
@vadim9999 I assume Andrew asking about the file - play,js? can you share how to use it?

[2019-07-01 20:56] atherdon commented on #48
actually - the best way to test functions - in a real world - is to writing tests first.

[2019-07-01 21:08] AndrewSerra commented on #48
Do you mind if I add some for the two functions I'm working on?

[2019-07-01 21:09] AndrewSerra commented on #48
I saw this file as well is this to just run the function and see the results?

[2019-07-01 21:50] AndrewSerra commented on #68
I'll check it in the morning

[2019-07-02 12:34] svr8 commented on #46
I have a little trouble moving further. `food-static-generator` is using a script from `sd` repository. I'm not sure if Travis can be configured to find resources from other repositories before running tests. I'll search for this solution if that's what is needed.
Another solution is to copy the `src/files.js` from `sd` repository to this `food-static-generator/src/`. The `files.js` is dependent o

[2019-07-02 13:08] atherdon commented on #46
Don't worry. You'll get used to it. This is why I put you inside of this project - so you can learn how we dealing with tasks,

1. `sd` will use a script from `generator` when we'll finish it. there still a `generator` code inside at `sd` repository. but it start to be very messy and I decide to move it out. because it start to hard to follow how it works.
2. Travis can be configured as you want.

[2019-07-02 13:41] AndrewSerra commented on #68
@vadim9999 I found the bug. The third line in the function is undefined and overwrites the second line resulting in an empty array. It is also not getting the object from the original file under src/data/Units/measurementUnits.json which creates a bunch of undefined variables. I'm handling it.

[2019-07-02 14:14] vadim9999 commented on #48
Yes, you can run it

[2019-07-02 14:27] vadim9999 commented on #68
@AndrewSerra Ok, create PR

[2019-07-02 16:24] #69 closed

[2019-07-02 16:27] atherdon commented on #57
@svr8 another one for next time

[2019-07-02 16:33] vadim9999 opened #72 "Rewriting generator into es6 [Main task]"
**Intro**
Now our need to rewrite all code that we have here into es6. The huge task will be separated into small.

**Main instructions of what should be done:**
1. Replace `require` on `import`.
For example index.js in src folder -> https://github.com/GroceriStar/food-static-files-generator/blob/master/src/index.js
Now we have
[code]
after should be like this
[code]
---

2. Change
[code]

on
[cod

[2019-07-02 17:10] atherdon commented on #72
You read my mind! I also prepared notes that I want to put at one place, so everyone will be on the same page.
My first suggestion will be: Can you create a list of JS files(excerpt projects folder) that we have at this repo.
It will help to split tasks between people for converting it to ES6

[2019-07-02 17:10] atherdon commented on #72
b) now we also can add few aliases at babel.config.js so our paths will be less confusing

[2019-07-02 17:12] atherdon commented on #72
I'm mentioning @AndrewSerra and @svr8 here so all of us will get a notifications from this task

[2019-07-02 18:13] atherdon opened #73 "Coding Plan"
**Release 1**
Generator moved outside

**Release 2**
Migrated functionality to ES6

**Release 3**
Projects goes away

**Release 4**
CSV parser as separated module

[2019-07-02 19:06] vadim9999 commented on #72
As I understood node using commonjs(require and module.exports). Now need to setting up babel that it will be transalate from es6(import and export) to commonjs then after this translating run code. Am I right understood? Now in this module we using just commonjs? Is it the same es5 and commonjs?

[2019-07-02 19:16] vadim9999 commented on #72
running main.js that written on es6 with this command
[code]
return Error. Ok to run the generator from this repository we should add a script in package.json that will translate from es6 to es5 and run with node. Sorry, maybe I am something doesn't know, but I want understod this process, step by step how it's working

[2019-07-02 19:47] atherdon commented on #73
One of the tasks to test a new version of generator is to finish with separated GL convert them into custom complex objects.

---

Generator should use our csv parser as installed module as well. Methods from csv parser should be independent and be able to be called from outside. With a separated csv module we'll improve our structure of code.

[2019-07-02 19:48] atherdon commented on #37
Question: can you tell me or confirm - are we move all the code of generator to this outside repository and out module are actually working well as a separated entity?

[2019-07-02 20:01] atherdon commented on #72
briefly, you right. ES5 can be thought as equal to commonjs.

we cannot run this module, when it will be ES6. I mean it's not a nodejs
server, that you can run. the best way to "run"(launch) this module is to
have x functions and x tests that cover our functions. So by "running" you
can run tests and if tests pass - then it works.
if you actually want to run some files, ie - index.js(not sure if,

[2019-07-02 21:54] AndrewSerra commented on #48
I opened a pull request with this fix

[2019-07-02 21:55] atherdon commented on #13
@AndrewSerra let's check this task, while Vadim will review your PR.

The main problem here is simple. When generator was inside of `sd` repository - we call methods from it directly that files. Right now we cannot do it. We need to figure out the way - how we can replace/upgrade that lines of code.

I actually not sure if we need to do it("have scripts that call generator to generate"). But we'll

[2019-07-02 22:00] AndrewSerra commented on #13
So let's see if I understood correctly. Since the generator is going to be its own directory (food-static-files-generator), in sd, we need to change the lines that we import the generator?

[2019-07-02 22:07] atherdon commented on #13
generator before was part of sd repository.
now it's a separated entity - module with it's own rules.

Simply speaking - you cannot call a file from outside modules. At least at
this way. all files that we have at this repo will be combined into one
file. and it has another structure, etc.

Yes, we need to find a way(looking to hear your ideas) about how we can
make it work as it was before, but w

[2019-07-02 22:10] atherdon opened #75 "Fix "method_complexity" issue in src/writeFile.js"
Function `updateContent` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/writeFile.js#issue_5d1b9c727f79d600010000e3

[2019-07-02 22:11] AndrewSerra commented on #13
Sure, I'll think about it and let you know

[2019-07-02 22:13] atherdon commented on #13
small note - we don't have access to files from the outside. but we have
access to methods from that files(if they were exported from that files,
imported then at our index file and exported from them as well)

[2019-07-03 09:49] vadim9999 commented on #37
yes, it's generating files from sd

[2019-07-03 10:09] vadim9999 commented on #72
yes, it's a help. rollup translate ES6 to ES5 and write it in index.cjs.

[2019-07-03 10:16] vadim9999 commented on #72
Now we have these folder structures of src/:
[code]

[2019-07-03 10:28] atherdon commented on #37
so, if I understand correctly, i can delete few files from generator folder
at `sd` and nothing will crash?

---

another note: we need to upgrade generator, so it will be called from the
outside(assume sd) and it will store files not inside, but outside(assume
at sd). User will send a path to a folder, and that folder will be a place
for generated files

[2019-07-03 10:29] vadim9999 commented on #72
We can split files by logic:
Generator:
* writeFile.js
* generateFiles.js
* generateFile.js
* configGenerator.js
* generateArray.js
* utils.js
---
After converting to ES6 we can try to run it

[2019-07-03 10:34] atherdon commented on #72
i think names like generateFiles, generateFile, generateArray should be
replaced. I mean we keep those names from your initial changes, but this
code have a lot of changes after that.
But this is not the main issue now for sure.

[2019-07-03 10:36] atherdon commented on #50
#72

[2019-07-03 10:36] atherdon commented on #42
#72

[2019-07-03 10:40] vadim9999 commented on #37
yes, but doesn't delete in folder generator file generate.js because there is calling method generateFiles().

[2019-07-03 10:42] atherdon commented on #37
ok, i'll try to delete something and see how it goes.

do we have a script at package.json that calls that generator?

[2019-07-03 10:44] vadim9999 commented on #37
yes, in sd call like this
[code]

[2019-07-03 10:46] atherdon commented on #37
what about other rudimentary scripts from the generator?

[2019-07-03 10:47] atherdon commented on #37
i mean scripts at package.json - can you handle that, please?

[2019-07-03 10:48] AndrewSerra commented on #13
So everything necessary from the generator module will be exported from index.js?

[2019-07-03 10:49] AndrewSerra commented on #13
I mean assuming we imported the module in sd things that are in food-static-files-generator/src/index.js is everything that can be accessed

[2019-07-03 10:51] vadim9999 commented on #72
What do you think about this renaming:
* generateFiles -> generateJSONS
* generateFile -> generateJSON
* generateArray - we can move separate functions by projects

[2019-07-03 10:55] vadim9999 commented on #37
I haven't imported yet of generating a single file - we can remove it

[2019-07-03 10:59] atherdon commented on #37
I mean - can you remove this lines?

[2019-07-03 10:59] atherdon commented on #37
https://github.com/GroceriStar/sd/blob/master/package.json#L17-L19

[2019-07-03 11:02] atherdon commented on #13
yep, it will be our main entry point

[2019-07-03 11:02] vadim9999 commented on #37
done

[2019-07-03 11:05] atherdon commented on #72
let's rename that files later. because it will break some of my tasks,
where i use a file name.

can we fix some of todos that we have at some at our main files, while we
converting export of methods to es6?

[2019-07-03 11:07] atherdon commented on #50
@vadim9999 I think you shared at fetch a solution that will help to use es6 for test files - can you add it to config file?

[2019-07-03 11:09] atherdon commented on #72
please create a separated task for renaming files

[2019-07-03 11:12] vadim9999 opened #79 "Renaming generator files"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Rename this js files:
generateFiles -> generateJSONS
generateFile -> generateJSON
generateArray - separate functions by projects and connect it in configGenerator.js

[2019-07-03 11:20] vadim9999 commented on #72
ok

[2019-07-03 11:21] vadim9999 commented on #72
I think yes, also we can replace functions on the arrow functions

[2019-07-03 11:35] vadim9999 commented on #50
Fixed in PR https://github.com/GroceriStar/food-static-files-generator/pull/81

[2019-07-03 11:39] atherdon commented on #72
yep, our code is pretty simple and ready to be transferred. and if we'll
have

maybe you can jump into this pr, fix that conflict and merge it
https://github.com/GroceriStar/food-static-files-generator/pull/74

so we can move forward with it

[2019-07-03 11:40] atherdon commented on #72
*and if we'll have* issues - i'm sure both babel and rollup will notify us

[2019-07-03 11:40] #50 closed

[2019-07-03 12:06] AndrewSerra commented on #13
ok thinking about how it can be done

[2019-07-03 12:14] atherdon commented on #37
can you make a new release and install it at sd?

[2019-07-03 12:15] vadim9999 commented on #37
yes, I will do it

[2019-07-03 12:18] #48 closed

[2019-07-03 12:18] #68 closed

[2019-07-03 12:21] AndrewSerra commented on #65
almost done opening pull request soon

[2019-07-03 12:27] AndrewSerra commented on #75
Can I take this? read a bit about it sounds nice.

[2019-07-03 12:32] atherdon commented on #75
ok, do this

[2019-07-03 13:19] #65 closed

[2019-07-03 13:22] atherdon commented on #64
#72

[2019-07-03 13:25] atherdon opened #84 "notes"
Generator --> create examples folder, where we show how we combine data, in order to have different structures.

Separated module, so you can install it, and pass your own dataset, or use data, that we have at our static data repository.

Making a generator as an independent module will simplify our work with a graphql server as well.
We can generate files outside of sd for it.
Using promises and

[2019-07-03 13:28] atherdon opened #85 "Fix "TODO" issue in src/writeFile.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/writeFile.js#issue_5d1cab89a0871200010000f8

[2019-07-03 13:28] atherdon opened #86 "Fix "TODO" issue in src/writeFile.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/writeFile.js#issue_5d1cab89a0871200010000f6

[2019-07-03 13:28] atherdon opened #87 "Fix "TODO" issue in src/writeFile.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/writeFile.js#issue_5d1cab89a0871200010000f5

[2019-07-03 13:28] atherdon opened #88 "Fix "TODO" issue in src/writeFile.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/writeFile.js#issue_5d1cab89a0871200010000f9

[2019-07-03 13:28] atherdon opened #89 "Fix "TODO" issue in src/writeFile.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/writeFile.js#issue_5d1cab89a0871200010000f4

[2019-07-03 13:31] atherdon commented on #37
I'm thinking about moving csv parser out from this module.
we can make it as separated and independent module. tell me what do you think about it?

[2019-07-03 13:35] atherdon commented on #37
if you want to grab it as well(i think it's more easy module that this one)
i created an empty repo here: https://github.com/GroceriStar/food-datasets-csv-parser

[2019-07-03 13:36] vadim9999 commented on #37
Ok, I will start moving it

[2019-07-03 13:40] atherdon commented on #37
and when it will be moved out, with basic changes - make a release at npm please.
not sure if we should install it to generator - will think about it.
Maybe csv parser we'll install at sd in order to make work it with projects(hope i'll crack them soon)

[2019-07-03 14:37] AndrewSerra commented on #47
@atherdon I think this is a duplicate of issue #75

[2019-07-03 15:11] AndrewSerra commented on #75
I have found something about the file src/utils.js function readAllFiles()

[code]
The variable data is already a array, can't we just return data? That way we can prevent having unnecessary 2D arrays. Do you mind if I change it or should I just work with it?

[2019-07-03 15:22] AndrewSerra commented on #75
@atherdon @vadim9999 Also, what was the main goal of the function updateContent()? Is it to clear the object for some reason? that's what I understood

[2019-07-03 15:32] AndrewSerra commented on #75
Anyway, I fixed the function with the comment I have written above. Openning PR

[2019-07-03 18:24] atherdon commented on #47
it can be true, because yesterday CodeClimate was buggy, so i did the same research twice. closing it

[2019-07-03 18:25] #47 closed

[2019-07-03 18:27] atherdon commented on #64
you can start this task as well

[2019-07-03 18:33] atherdon commented on #75
I think we need that checks inside of this function. But it can be
simplified by splitting into a few methods.
We have a lot of different cases, related to generator, so we should be
very careful with big changes, because it can affect work of our other
modules

[2019-07-04 10:23] AndrewSerra commented on #64
I was going to work on this but it looks like it is already transferred to src/utils.js I guess I'll just change to ES6 style

[2019-07-04 10:29] AndrewSerra commented on #64
I changed them but it went through the already made pull request #90

[2019-07-04 10:59] atherdon commented on #64
not clear, but looks like you made this changes :)

[2019-07-04 11:04] atherdon commented on #64
usually, if you want to have a sepoarated pull requests- while working on two different tasks - the easiest way is to create a seoarated branch from master each time.
for better name it can be named like `feature/number-64` and when you'll open a PR - it will be separated.
then you going back to master of your forked repo, make a chechout a new branch and working there as well

[2019-07-04 18:54] AndrewSerra commented on #64
@atherdon I was going to ask about it :) thank you! I'll do it now so it doesn't get more messed up

[2019-07-04 20:38] AndrewSerra commented on #86
I think this is a duplicate of issue #85

[2019-07-05 07:54] #86 closed

[2019-07-05 09:41] svr8 commented on #72
Do we need to convert the mentioned files to ES6, or all files in `food-static-files-generator/src` folder?

[2019-07-05 09:46] atherdon commented on #72
that 6 files are our main goal right now.
other files(I assume you talking about projects folder) will be moved out soon

[2019-07-05 10:20] AndrewSerra commented on #75
Which check?

[2019-07-05 10:36] AndrewSerra commented on #64
I'm just continuing the conversation at this [issue](https://github.com/GroceriStar/food-static-files-generator/pull/90#issuecomment-508690460) since it is about his issue.

 ### **What I have done:**
I have changed the import statements and export to ES6 style as tol in this [task](https://github.com/GroceriStar/food-static-files-generator/issues/64#issue-462671548).

here is the import part of s

[2019-07-05 16:11] atherdon commented on #64
Thanks for this long explanation. it really clean up things.

@vadim9999 what do you think here?

[2019-07-05 16:12] atherdon commented on #75
by checks i mean 3 loops that we have inside of it. or is it merged - maybe we solve this task and all is working fine?

[2019-07-05 18:02] vadim9999 commented on #64
NodeJS can run code that was written in CommonJS or ES5 (require and module.exports). When you try run code ES6 with command `node` you will get Error.  Because you should convert from ES6 to ES5 then you can run with `node`. NodeJS doesn't understand import and export default and other features of ES6. I have added some scripts to package.json that build with rollup and run code. Rollup also conv

[2019-07-05 19:21] atherdon commented on #72
Andrew is working on utils file here: #64

[2019-07-05 19:23] atherdon commented on #72
As it might be confusing for our new members, I think maybe it's a good idea to get back to my proposal of splitting long files into few, much smaller files, that can be easily transferred and will help us to move quickly with this task(i think most work will be done at rollupjs configuration and babel, so simple convertation can be done in 2 days)

[2019-07-05 19:47] AndrewSerra commented on #64
@vadim9999 so would I have to run that script to get my repo working?

[2019-07-05 19:58] AndrewSerra commented on #75
Yeap it is merged and it works fine. I added another forEach() so it checks as much as the 3 for loops from before

[2019-07-06 09:12] AndrewSerra commented on #64
I don't know if this is related to it but I'm trying to bundle and build then running but I realized this:
[code]

[2019-07-06 11:38] atherdon commented on #64
you can go to the `rollup-plugin-node-builtins` repository -https://github.com/calvinmetcalf/rollup-plugin-node-builtins

and tell them that audit showing issues

[2019-07-06 15:33] atherdon opened #98 "Fix "TODO" issue in src/generateArray.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/generateArray.js#issue_5d20bf391127bf0001000036

[2019-07-06 15:34] atherdon opened #99 "Fix "TODO" issue in src/generateFiles.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/generateFiles.js#issue_5d20bf391127bf0001000048

[2019-07-06 20:28] AndrewSerra commented on #64
@atherdon I checked it they already have it as an issue

[2019-07-06 21:32] atherdon commented on #64
then tpye in comments that you have a same issue - so they will be buzzed
with that comment and realize that it better to solve it quickly :)

do you have task or i should find a new one for you?
I made some changes at main repo - please sync your fork

[2019-07-06 21:45] AndrewSerra commented on #64
already commented on that issue :)

also no I dont have a task at the moment, I need a new one

[2019-07-06 21:58] atherdon commented on #99
i think it can be easy to solve

[2019-07-06 22:15] atherdon commented on #72
@svr8 tell me if you need help. I feel that we should do something small for you, so you'll became more familiar with our code. or if you already made some changes - open a PR so we can take a look

[2019-07-07 00:52] atherdon opened #100 "create a plan for moving generator out [Main task]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-07-07 09:39] vadim9999 commented on #64
Some generator`s files haven't converted to ES6 and you can get error. You can try.

[2019-07-07 10:46] svr8 commented on #72
I have pushed 1 commit on my fork here; edited `src/writeFile.js`. I am facing a problem with exporting functions in es6 style. [Here](https://github.com/svr8/food-static-files-generator/blob/279aef2e1ffffd0683935134538d285134f6fb8a/src/writeFile.js#L149-L156).

I have written a simple test [here](https://github.com/svr8/food-static-files-generator/blob/279aef2e1ffffd0683935134538d285134f6fb8a/src

[2019-07-07 10:56] atherdon commented on #72
@svr8 without PRs - it's hard to explore. so please open it. add a link to your comment and we'll be able to look. each time when you stuck - you can use our knowledge - but please be active it in

I'm aslo have feeling that your PR will have some merge conflicts, because other developers also working on the same files and forks should be synced preyy often, in order to avoid that issues.

longs s

[2019-07-07 11:10] svr8 commented on #72
Ok. Please review #101

[2019-07-07 16:15] vadim9999 opened #103 "Bug of eslint"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubusercontent.com/35640573/60771102-6d1ebb00-a0eb-11e9-96b6-8416e96d0dcf.png)

**Additional context**
Ad

[2019-07-07 19:49] atherdon commented on #103
please recheck it - i didn't apply any changes at rollup config, but i upgrade ESLint to the latest version, so maybe it's solved now. just to let you know

i assume we didn't not finish eslint setup for rollup.

[2019-07-07 20:25] atherdon commented on #103
I also think that additional setup required, because we getting this kind of issues from CodeClimate+ESLint bind: https://github.com/GroceriStar/food-static-files-generator/pull/101#pullrequestreview-258641258

i don't know maybe it's a good warnings...

[2019-07-07 20:38] atherdon commented on #87
can you create a separated branch and start working on this one, while Vadim didn't approve your PR?

[2019-07-07 20:45] atherdon commented on #72
congrats to our team work!

![image](https://user-images.githubusercontent.com/1469198/60773653-42475d80-a111-11e9-9a2d-fc90ff30855c.png)

[2019-07-08 10:29] AndrewSerra commented on #98
@atherdon a quick question about some todos in src/generateArray.js:

By 'another project in these todos (`// @TODO this is a method from a project. maybe we should move it there, because it's confusing right now`) do you mean the repo sd or still the same repo different file?

It occurs in three main functions:

1.
[code]
2.
[code]
3.
[code]

[2019-07-08 11:17] atherdon commented on #98
briefly.
Do this:
- move into a separated file getMenuGenerator
- and move into another separated file favorites and userGrocery

[2019-07-08 14:52] #99 closed

[2019-07-08 15:09] atherdon commented on #72
what we should do next here?

[2019-07-08 16:05] atherdon opened #107 "fileSystem methods separation"
**Is your feature request related to a problem? Please describe.**
https://github.com/GroceriStar/food-static-files-generator/blob/master/src/fileSystem.js

https://github.com/GroceriStar/food-static-files-generator/issues/72
**Describe the solution you'd like**
move write and read methods to a separated file. it will help to make writeFile.js less complicated and shorter

**Describe alternatives

[2019-07-08 16:19] svr8 commented on #72
Rewrote the remaining files into es6 in PR #108

[2019-07-08 20:24] AndrewSerra commented on #98
do you want the imports and exports in ES6 style or just as it was?

[2019-07-08 20:28] AndrewSerra commented on #98
also, another thing that I was thinking about, what could the file name be for  favorites and userGrocery since they generate an array of objects

[2019-07-08 20:49] atherdon commented on #98
please sync your fork - because i think es6 style main work was finished

about the name - name it `groceristar-structures`. I know - the name is not
awesome at all. but i think in a few weeks we'll remove that methods
outside of this module

[2019-07-08 21:17] atherdon opened #113 "move packages to devDependencies"
**Is your feature request related to a problem? Please describe.**
It's a simple task. When we setup a ESLint module we install a bunch of modules in order to make it work with our current setup. that modules not required to be publishied at npm, so we should remove them from major dependencies and enable at dev section

- "babel-eslint": "^10.0.2",
- "eslint-plugin-jest": "^22.7.1",
- "rollup-plu

[2019-07-08 21:30] atherdon opened #114 "all ESLint warnings should be resolved"
**Is your feature request related to a problem? Please describe.**
One of repeating errors shown by ESLint: `Definition for rule 'jest/no-identical-title' was not found`
Not sure if we just need to disable it. I assume that it's bad that we don't have a proper test coverage here

Btw, we should skip thinking about fixing errors from `project` folder, because it's a rudiment, that we'll remove pret

[2019-07-08 21:44] atherdon commented on #13
I think here we can also talk about what methods should be exported at index.js
Because right now i have feeling that this module is "closed" to generate files from the outside.
So we'll have some more work to do.
I think files like generateArray,generateFile, generateFiles can be a good example of what exactly methods are used, in order to generate our data. And we should make those methods acces

[2019-07-08 23:41] atherdon opened #115 "make Travis CI work here"
**Describe the bug**
Partially it will relate on #114 because we have a lint inside of Travis CI

I have feeling, that with our latest changes - when we'll solve ESLint warnings - Travis became green without any problems.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://travis-ci.org/GroceriStar/food-static-files-generator/jobs/556052507

**Expected behavior**
Travis CI builds s

[2019-07-09 18:11] vadim9999 commented on #72
I am so Sorry I have made a mistake about exporting functions
In description I have write replace
[code]
on
[code]
It's mistake we should replace on
[code]
export {

}
[code]

[2019-07-09 18:33] vadim9999 commented on #37
it's hard to merge PR. Because interns don't run it locally. They just write code and make commits. Now, I am fixing all the stack of bugs that they have done.

[2019-07-09 19:00] vadim9999 commented on #37
Can we use in this module try catch finally? Also create exceptions and throw it? or It's a type of work backand? If no can I use if else of checking is variable is undefined? Should we create a module strong to some errors like a server? Many errors but the server still working?

[2019-07-09 19:03] atherdon commented on #72
did you sync your repository? yesterday at night i made some small changes

[2019-07-09 19:07] atherdon commented on #72
still let's figure our next steps.
@AndrewSerra  and @svr8 have small tasks, but they will be completed soon.

[2019-07-09 19:07] vadim9999 commented on #72
yes, I am working now

[2019-07-09 19:12] atherdon commented on #37
which PR is hard to merge?

sure, and I don't think that they should run it locally. for now it's enough to have passed tests, builds from babel and rollup.
You can create a tasks with their bugs and point them to work on that bugs. it's a more productive way to do things.

If you want - i'm ok to use try/catch here. Not sure it will change a lot, but if you think of it - then let's do it - i'm to

[2019-07-09 19:13] atherdon commented on #37
It depends. i'm pretty sure that it's right now stronger that it was before. But we don't need to make it secure as hell. I think I don't exact understand problems that you cathing.

[2019-07-09 19:26] vadim9999 commented on #37
We should move all tests and then run it and fix bugs

[2019-07-09 19:50] atherdon commented on #37
i don't think that some tests was not moved. i think generator was poorely covered with tests.
But again. i think we have not correct approach of "testing" our methods.
Major goal of this module to be accessible from outside. And testing should be done with releasing new versions - installing them and calling our methods from the outside. I think it's the best way to find mistakes. and soon when w

[2019-07-09 21:35] atherdon opened #121 "rollup cjs setup error"
**Describe the bug**
I assume that we should change settings for cjs rollup because it generates strange errors

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SD/generator/FoodComposition/csv_parser
2. And line, where I'm importing write method(i export it from this method) are generating an issue

https://github.com/GroceriStar/sd/blob/master/generator/projects/FoodComposition/csv_pa

[2019-07-09 22:25] atherdon commented on #75
did we finish this task, right?

[2019-07-09 22:33] atherdon commented on #72
ony of my concerns - generator should generate files for the "outside" functions.
before we keep it as part of sd repo and everything was OK(except code quality and code complexity)
but as we just moved that code and convert it to es6 - our generator will try to generate files here.

Example.
we have `SD` repo with installed inside `generator` module. When we'll try to run generator methods from t

[2019-07-09 22:39] svr8 commented on #107
Should I move the following methods here?
- writeFile
- saveFile
- makeFolder

[2019-07-09 22:43] atherdon commented on #107
yep and replace imports. i mean it shouldn't be crashing after those changes

[2019-07-09 23:01] atherdon commented on #107
please sync your fork, i just submit some changes at `master`

[2019-07-09 23:04] atherdon commented on #72
actually - generateFiles generate all good. maybe Vadim made some changes or it's miracle :)
Still - I think we should keep my prev. comment in mind, while we didn't test all of our methods from the outside

[2019-07-09 23:05] svr8 commented on #107
I have imported fileSystem modules in writeFile just so everything works as it was.

[2019-07-09 23:15] atherdon commented on #107
check my comments at PR

[2019-07-09 23:24] #107 closed

[2019-07-09 23:25] #42 closed

[2019-07-09 23:33] atherdon opened #123 "create a simple test coverage for fileSystem.js methosd"
**Is your feature request related to a problem? Please describe.**
i'm not requiring anything complex right now.
simple tests that will check if methods exists will work for this task ok.

Tell me if you'll have questions - I can share examples with you

[2019-07-10 08:09] vadim9999 commented on #121
but we have moved csv parser as a separated module

[2019-07-10 08:49] vadim9999 commented on #121
I think we should delete folder generator

[2019-07-10 09:02] vadim9999 commented on #121
I have fixed this. Now function write() doesn't work because in src/data/FoodComposition was removed csv files

[2019-07-10 09:09] vadim9999 commented on #121
I think someone delete my script of running parser from food-datasets-csv-parser. I remember I have added it and it was worked

[2019-07-10 12:16] atherdon commented on #121
Only 2 of us was working at csv-parser repository. And i think you know how gentle I am with code, that was written by other people

[2019-07-10 12:18] atherdon commented on #121
if we can move our "projects" from it - we can do it. I mean my goal to keep files that parse csv at sd, while i didn fixed my issues with rollup

[2019-07-10 12:19] atherdon commented on #121
so now i be able to call csv_parser.js file inside of food composition, right?

[2019-07-10 21:53] atherdon opened #128 "move readData into filesystem"
**Is your feature request related to a problem? Please describe.**
we need to do it after #125 will be merged to master

[2019-07-11 11:15] AndrewSerra commented on #85
I think this is also a duplicate of issue #88 I opened a PR for #88

[2019-07-11 11:16] AndrewSerra commented on #75
Yes all done

[2019-07-11 11:19] AndrewSerra commented on #64
this is done for utils.js I can check all the files again if you want @atherdon

[2019-07-11 11:35] AndrewSerra commented on #13
I agree on those three files. I have thoughts about writeFile.js where should I write them? open a new issue?

[2019-07-11 12:14] AndrewSerra opened #131 "No function named getFileName()"
**Describe the bug**
There is a function named `getFileName()` trying to be imported from `writeFile.js`  to the file `fileSystem.js` and it gives an error. There is no function named `getFileName()` in the repository

**To Reproduce**
It can be found in the travis-ci error list in issue #113

**Screenshots**
No screenshots but here is the error:
[code]

**Additional context**
The function name ma

[2019-07-11 13:26] #85 closed

[2019-07-11 13:28] atherdon commented on #131
i even not remember what that function did.
if we have a code for getFileInfo - you can compare it with first release that we have for generator
https://github.com/GroceriStar/food-static-files-generator/releases/tag/v0.0.2
and if we'll know that its the same method - we'll rename it an export  statement

[2019-07-11 13:29] atherdon commented on #64
please check, but i also think that most of ES6 migration was completed

[2019-07-11 13:29] atherdon commented on #13
please check what we have now in index.js - i made some changes recently. maybe it resolves part of this task

[2019-07-11 13:29] atherdon commented on #75
perfect

[2019-07-11 13:30] #75 closed

[2019-07-11 14:45] vadim9999 commented on #121
yes, it will work but you will get an error, because csv files don't exist in data/FoodComposition

[2019-07-11 16:10] AndrewSerra commented on #131
I found it under writeFile.js I'll find a way to fix it

[2019-07-11 16:51] AndrewSerra commented on #131
This is solved.

[2019-07-11 16:51] #131 closed

[2019-07-11 18:29] atherdon commented on #121
can we handle it? btw, i moved for now csv parsers that we have inside of projects into csv_parser_module

[2019-07-11 18:52] atherdon commented on #121
hold on, i think i got what do you mean. if i udnerstand you right - this
is not issue for saving file inside of csv_parser module, or at sd. it
wouldn't work because our actual csv file - that we use as source of our
data was not presented at sd(means deleted or removed)
am i correct? so if we have that csv file for food composition - error
probably will gone?

[2019-07-11 18:52] #88 closed

[2019-07-11 19:00] #89 closed

[2019-07-11 19:03] atherdon commented on #58
@vadim9999 i think we did it, so i can close this task

[2019-07-11 19:23] atherdon opened #132 "Test coverage"
**Is your feature request related to a problem? Please describe.**
As most of our methods were created and perfect, i think it's a good time for cover them with tests, that will help us at our future work

@AndrewSerra let's discuss here what methods should be covered with tests

[2019-07-11 19:37] AndrewSerra commented on #132
I think we should start with the ones that go in index.js Or we can do the exact opposite and start with small tests, so we are sure that all helper functions work and continue to the more important functions (such as the ones going to be in index.js)

[2019-07-11 19:49] atherdon commented on #132
i love to go with small tests first. because we'll be able to split this
task between few people.

[2019-07-11 19:52] atherdon commented on #132
at this file i list our methods(maybe be outdated)
https://github.com/GroceriStar/food-static-files-generator/blob/master/readme3.md

[2019-07-11 20:04] atherdon commented on #132
Now, when we'll merge PR from Shikhar, we'll have first basic tests related to methods from fileSystem.js

@AnuragKapoor-CSEngineer you can start to work on tests, related to methods, located at objects.js file

[2019-07-11 20:09] atherdon commented on #98
did you convert those methods at ES6, right?

[2019-07-11 20:11] vadim9999 commented on #121
I haven't done this. csv files should be in a module. I will make it like in the generator. Or it can be done interns

[2019-07-11 20:12] vadim9999 commented on #58
yep

[2019-07-11 20:13] atherdon commented on #121
let's set this on pause for now.
I think I have feeling that if csv_parser will use method `write` or `save` from generator module - everything will work perfectly

[2019-07-11 20:40] atherdon opened #133 "small changes"
**Is your feature request related to a problem? Please describe.**
1) remove recursively `__` from our 2 methods(__generateID and __generateDate). Keep in mind, recursively - because we use these functions at a lot of places

2) we have a `PATH` constant at our files. I don't like it. for example `PATH.basename` can be replaced with `basename` if you import that method differently

[2019-07-11 20:44] AndrewSerra commented on #98
yeap I did

[2019-07-11 20:45] atherdon opened #134 "testing our changes at `sd` repository"
**Is your feature request related to a problem? Please describe.**
we have a lot of small changes done in the last 2 days.
and when will be merged #130 and PR from Shikhar - i think we should make a new release and test if those changes don't break things at `sd` repo

[2019-07-11 20:46] AndrewSerra commented on #132
Are we creating a tests directory for this repo as well? Maybe we could have multiple files so we can categorize groups in separate files.

[2019-07-11 20:51] atherdon commented on #132
I think it's a good idea to store tests at separated folder. can you create a separated task for it?

[2019-07-11 20:52] AndrewSerra commented on #134
@atherdon the `setupPath(pathToSrc)` function in generateArray.js needs to be fixed. I made something like a "template", so the pathToSrc parameter is hard-coded. I think that should be changed as well. Not how it functions, right now it should work, we should change the hard-coded directory we use when we call the function

[2019-07-11 20:55] AndrewSerra commented on #132
Just to clarify, opening an issue to create the directory?

[2019-07-11 20:56] atherdon opened #135 "writeFile changes"
**Describe the bug**
1) I think we don't need to export save, write from this file https://github.com/GroceriStar/food-static-files-generator/blob/master/src/writeFile.js
2) is `saveFile` is also a rudiment that was renamed and moved to fileSystem?  https://github.com/GroceriStar/food-static-files-generator/blob/master/src/writeFile.js#L91

[2019-07-11 20:57] #113 closed

[2019-07-11 20:58] atherdon commented on #98
cool. can I close this task?

[2019-07-11 20:58] AndrewSerra commented on #64
Yes this is all done

[2019-07-11 20:58] AndrewSerra commented on #98
yeap this is also done

[2019-07-11 20:59] AndrewSerra commented on #135
I think the same for 1, need to check for 2. one sec.

[2019-07-11 21:01] atherdon commented on #132
yes, open issue to create a directory and move our current test files there and fix issues with paths :)

[2019-07-11 21:02] AndrewSerra commented on #135
I agree on both looks like an unnecessary export and duplicate function.. Handling it now

[2019-07-11 21:05] #98 closed

[2019-07-11 21:06] #64 closed

[2019-07-11 21:11] AndrewSerra commented on #132
Consider it done!

[2019-07-11 21:13] atherdon commented on #135
perfect!

[2019-07-11 21:15] #135 closed

[2019-07-11 21:15] atherdon commented on #72
@vadim9999 can you review a codebase that we have at `master` branch? my goal is to find out - did we finish migration to es6 or not. maybe before answering - we should deal with #134

[2019-07-11 21:18] #1 closed

[2019-07-11 21:31] amogh-jrules commented on #133
@atherdon dont quite understand the 2nd part, do you want me to deconstruct the PATH object?

[2019-07-11 21:38] AndrewSerra opened #137 "Creating new tests directory and correcting paths for the tests"
**Is your feature request related to a problem? Please describe.**
Tests are going to be written and they should be grouped under one directory.

**Describe the solution you'd like**
1. Create a directory called "tests" (it should be placed in the root of repository)
2. Move already made tests to the directory
3. Correct the paths

**Notes**
Related to the discussion at issue #132

[2019-07-11 21:40] atherdon commented on #133
yeah you got it right

[2019-07-11 22:27] atherdon commented on #133
we should replace this line
`https://github.com/GroceriStar/food-static-files-generator/blob/master/src/utils.js#L10`

it's not necessary to export whole module into PATH variable and then deconstuct it into one method

you can do `import {basename} from 'path `

[2019-07-12 05:49] amogh-jrules commented on #133
I thought so at first, should I make another commit?

[2019-07-12 05:50] amogh-jrules commented on #133
@atherdon Also I was thinking of fixing the Travis and CodeClimate builds, it is of no use if it keeps failing on every commit

[2019-07-12 09:03] AndrewSerra commented on #115
@atherdon can I work on this until we finalize discussion on tests and the csvParser?

[2019-07-12 14:56] atherdon commented on #115
i assume that travis ci start to work when eslint will be fixed. but we
blocked by other tasks in pipeline

[2019-07-12 14:58] atherdon commented on #133
you're the 3rd person that want to fix it :)
hold on - complete this task first - then we'll wait for big review from
Vadim.
right now we blocked and cannot do big moves.
also - without good test coverage - Travis CI is not as useful as it can
be. so we'll work on tests with you soon

[2019-07-12 15:18] atherdon commented on #134
Ok, I merged #142 now we can make a release and try our changes on a real project

[2019-07-12 17:17] amogh-jrules commented on #133
@atherdon yes, sure. As you say

[2019-07-12 19:09] amogh-jrules commented on #133
@atherdon reminder to close this issue

[2019-07-12 19:42] atherdon commented on #132
@svr8 @amogh-jrules let's chat here about adding more tests to this package. right now we not starting it - i want to hear your thoughts

[2019-07-12 19:42] #87 closed

[2019-07-12 19:44] #84 closed

[2019-07-12 19:46] #58 closed

[2019-07-12 19:48] #43 closed

[2019-07-12 19:50] #39 closed

[2019-07-12 19:52] atherdon commented on #133
thanks i forget to do it. my github crashing all time for the last few weeks

[2019-07-12 19:52] #133 closed

[2019-07-12 22:23] #137 closed

[2019-07-12 22:42] #123 closed

[2019-07-12 23:12] atherdon opened #144 "fileSystem tests failing after last PR"
**Describe the bug**
I felt that something can go wrong. it was easy to predict

**To Reproduce**
Steps to reproduce the behavior:
1. checkout current code from master branch
2. yarn install
3. yarn test
4. See error

**Expected behavior**
tests should be passed. I think we didn't run tests

**Screenshots**
![image](https://user-images.githubusercontent.com/1469198/61162941-a3a56d00-a513-11e9-81d1

[2019-07-12 23:13] atherdon commented on #132
#144

[2019-07-12 23:23] atherdon commented on #79
moved to another task

[2019-07-12 23:23] #79 closed

[2019-07-13 11:23] svr8 commented on #132
Writing tests for `generateArray.js`, `generateFile.js` and `generateFiles.js` seems relatively easy tasks to do. However, the core functions like the ones in fileSystem.js have been modified to use callbacks. So, first, I'll need to modify all of their calling methods to pass callback functions.

[2019-07-13 13:13] atherdon commented on #132
i agree about callbacks for other methods. but not for all of them.
can you create a separated task, where we can discuss it?
I want to keep this task for tests discussion, but if we want to modify a
few methods, that tests should be paused, while we not finish most of the
work with code functions.

I also plan to see how this module will work at 2 different places - and I
assume something will go

[2019-07-13 13:27] atherdon commented on #128
Let's add more to this task.
1) rename this method to 'read'
2) export it at index.js
3) by using examples of write or save - extend this method, so it can accept callbacks
4) add one test cover for this method at filesystem.test.js

[2019-07-14 04:43] vadim9999 commented on #72
Files not converted to es6:
https://github.com/GroceriStar/food-static-files-generator/blob/master/src/projects/GraphQL/graphQL.js
https://github.com/GroceriStar/food-static-files-generator/blob/master/src/projects/GroceriStar/groceristar.js

[2019-07-14 12:31] atherdon commented on #72
do you think we need those files in order to run generator?

[2019-07-14 14:22] svr8 commented on #144
@vadim9999 Could you please help me with this?

[2019-07-14 14:46] atherdon commented on #144
i assume it has problems because of async/callbacks workflow

try this - maybe it will help https://jestjs.io/docs/en/asynchronous.html
and run `yarn test` in order to see an output of it

[2019-07-14 15:34] atherdon opened #146 "Updates in utils.js"
**Is your feature request related to a problem? Please describe.**
We did it at this file: https://github.com/GroceriStar/food-static-files-generator/blob/master/src/fileSystem.js#L1

But at utils.js it was not finished:
https://github.com/GroceriStar/food-static-files-generator/blob/master/src/utils.js#L4
https://github.com/GroceriStar/food-static-files-generator/blob/master/src/utils.js#L48
http

[2019-07-14 15:47] atherdon commented on #132
I assume we need to add more coverage to methods like write, save, because i think we still can put not working code inside of our module and it wouldn't be noticed quickly.

just corrected a few issues, but it seems like we need to do it on a tests level

[2019-07-14 17:02] amogh-jrules commented on #132
Hi, actually I dont have much experience writing unit tests. Im not sure what is the way to proceed, can anyone of you point me to some reading material or resources?

[2019-07-14 17:34] atherdon commented on #132
This is why i want to get you some practice about it :)
yeah, I have a cool collection of articles about Jest testing.
https://github.com/ChickenKyiv/awesome-dev-stuff/blob/master/docs/jest/jest.md

[2019-07-14 17:38] atherdon commented on #132
long but perfect book: https://flaviocopes.com/jest/

[2019-07-14 17:51] atherdon commented on #132
@Beni03 @elnur004 I think you should join this project as well. Buzz me and i'll assing some simple tasks to you

[2019-07-14 17:55] Beni03 commented on #132
Yes, can you please assign a task for me

Sent from my iPhone

[2019-07-14 17:59] atherdon opened #147 "move tests folder to the outside of 'src'"
we should have this structure
[code]
and don't forget to update paths recursively

@svr8 you should be aware of these changes because you're working on the same files

[2019-07-14 17:59] atherdon commented on #147
and @amogh-jrules as well

[2019-07-14 18:01] elnur004 commented on #132
Of course. i'm waiting for a task

On Sun, 14 Jul 2019 at 21:51, Arthur Tkachenko <notifications@github.com>
wrote:

[2019-07-14 18:02] atherdon opened #148 "measurements, groceristar, graphql subprojects should became part of examples folder"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-07-14 18:10] atherdon opened #149 "updates in methods, related to folder paths"
**Is your feature request related to a problem? Please describe.**
We have a lot of methods here that work with folder paths or file paths.
my concern is - we can easily broke them, by passing anything else that path related.

1) we need to list here all methods inside of "src" folder files, that somehow related on paths. take your time and ask questions if needed. readme will be helpful as well.

[2019-07-15 01:28] Beni03 commented on #147
Will you be forking a branch for me to work on this ?

[2019-07-15 01:32] atherdon commented on #147
you should fork this repository in order to submit your changes
similar to our other repositories workflow

[2019-07-15 02:02] atherdon opened #151 "rollup build bug"
**Describe the bug**
I think we move some methods and this causes an error

**To Reproduce**
Steps to reproduce the behavior:
1. `yarn build`
2. See error

**Expected behavior**
Build should work without errors because it's preventing us from releasing a new version at npm

**Screenshots**
![image](https://user-images.githubusercontent.com/1469198/61192535-a47a0280-a6bd-11e9-8fcc-9ba6c756e9bb.png)

[2019-07-15 05:04] amogh-jrules commented on #128
Sorry this task missed my attention, will get it done by tonight

[2019-07-15 10:42] vadim9999 commented on #72
No

[2019-07-15 14:01] saphal1998 commented on #146
I am a little confused as to what is to be achieved here. Can you please elaborate?

[2019-07-15 14:30] atherdon commented on #72
Can you check then how generator is working from outside?

[2019-07-15 14:34] #147 closed

[2019-07-15 14:38] atherdon commented on #149
@Beni03 @elnur004 let's do this task together.

[2019-07-15 14:47] atherdon commented on #146
I updated the first link.

at the first link - we deconstruct an object from `fs` module. it may look like not a big change, but when we import only methods that we need - size of our bundled module is reduced.

and at file utils.js we didn't finish our changes. so you'll need to open `fileSystem.js` and compare with `utils.js` how work with methods, related to `fs` module a differently used.
Agai

[2019-07-15 14:50] atherdon commented on #151
please check this error, so Vadim wouldn't have problems with reviewing our progress

[2019-07-15 15:42] atherdon commented on #151
thanks!

[2019-07-15 15:42] #151 closed

[2019-07-15 20:44] amogh-jrules commented on #128
@atherdon  I dont understand what the callback function should do

[2019-07-15 20:47] elnur004 commented on #149
@atherdon from which way we need to list methods? may you clarify it a bit, please?

[2019-07-15 20:51] elnur004 commented on #149
i've read the readme but it was inexplicit for me

[2019-07-16 08:35] svr8 commented on #144
Tried the fix. This does not fix it either. The function readData() is causing problems. However, it seems we never called the function.

[2019-07-17 01:02] atherdon commented on #128
@amogh-jrules le'ts go with first two points and then i'll give you some examples

[2019-07-17 06:08] amogh-jrules commented on #128
First 2 done already

[2019-07-17 11:22] atherdon commented on #128
hmm, where is the code changes?

[2019-07-17 11:59] amogh-jrules commented on #128
They are very minor changes so I kept them local as of now

[2019-07-17 12:24] atherdon commented on #128
ok, create a pr for them.
without pr - for me - no changes exists

about callback - we'll use it for passing some additional data later.
for now - we using it for returning true/false and that value can be
received at our tests.

more about callbacks - google javascript callbacks

[2019-07-17 12:25] atherdon commented on #128
@svr8 can you advice Amogh?

[2019-07-17 12:31] amogh-jrules commented on #128
All right will do, Also I already read about callbacks and how they work, I wanted to know what we will be using the callbacks for

[2019-07-17 12:45] atherdon commented on #128
at one of the next steps we'll pass data into generator from the outside of
our module, so methods, like we have in generateArray or measurements.js,
will be obsolete to keep from the inside

[2019-07-17 12:49] svr8 commented on #128
@amogh-jrules Callback function should take the `return` value of this function as a parameter.

@atherdon Should we replace readFileSync with [readFile](https://nodejs.org/api/fs.html#fs_fs_readfile_path_options_callback) just to make callback usage more clear.

[2019-07-17 13:18] atherdon commented on #128
please elaborate more about replacing readFileSync to readFile
I think we need to find a place where we using that method first. because
if we just delete something - it'll destroy something else

[2019-07-17 13:33] svr8 commented on #128
Oh right. I'll read through the code again and update you if it is a good idea to replace the method.

[2019-07-17 19:56] elnur004 commented on #149
@atherdon may you explain a bit, please?

[2019-07-18 00:41] atherdon commented on #144
can you create a separated issue with explanation about readData method. so we can get back to it later?
just put some info so we don't forget about it

[2019-07-18 05:38] atherdon commented on #128
@svr8 can you share with me codeline for readFileSync method or it's a method from fs?

[2019-07-18 06:00] svr8 commented on #128
It's a method from fs.

[2019-07-18 20:17] atherdon opened #163 "eslint errors/warnings"
**Describe the bug**
when I run lint i see this message

let's go step by step.
1) fix fileSystem.js
2) fix objects.js
3) utils,js
4) writeFile.js

**Screenshots**
![image](https://user-images.githubusercontent.com/1469198/61488828-de931f00-a9b1-11e9-9cab-268e82216581.png)

@NathanielFaber can be your task as well

[2019-07-19 08:50] atherdon commented on #149
@svr8 can you advise here?

[2019-07-19 08:57] atherdon opened #167 "internal scripts return errors [paused]"
**Describe the bug**
I'm not sure if it caused by our changes, but at some point it start to return an error.

**To Reproduce**
Steps to reproduce the behavior:
try to run
1. `yarn debug:generator`
2. `yarn debug:write`

**Screenshots**
![image](https://user-images.githubusercontent.com/1469198/61523131-6877d200-aa1c-11e9-8439-c690a15ca272.png)

[2019-07-19 09:02] atherdon commented on #167
at csv_parser we don't catch any errors by quick view

[2019-07-19 09:03] svr8 commented on #149
Considering the files inside `src` folder, we need to find all methods that involve path to folder/file. For example: [generateArray](https://github.com/GroceriStar/food-static-files-generator/blob/7fdde7e1e1ad7080c889134840e0edc0edc85c56/src/generateFiles.js#L12) method and [write](https://github.com/GroceriStar/food-static-files-generator/blob/7fdde7e1e1ad7080c889134840e0edc0edc85c56/src/generat

[2019-07-19 09:38] atherdon commented on #167
at sd module when i run `yarn generate` it shows the same issue

[2019-07-19 09:39] atherdon commented on #167
it actually cool that we started to catch some bugs

[2019-07-19 09:49] svr8 commented on #167
I could not find anything as `csv_parser`. Is it a part of `sd` repo?
Ok I'll read through the files in `dist` folder.

[2019-07-19 10:04] atherdon commented on #167
csv_parser working good.
https://github.com/GroceriStar/food-datasets-csv-parser

[2019-07-19 13:06] saphal1998 commented on #146
#168

[2019-07-19 13:07] saphal1998 commented on #146
#168

[2019-07-20 18:38] atherdon commented on #144
did we finish it, right?

[2019-07-20 18:41] atherdon commented on #146
I actually didn't see that we finish this task.
i still see at utils.js lines like this

```let data = fs.readFileSync(path + fileName);```

``` const fileStat = fs.statSync(path + file).isDirectory();```

[2019-07-20 18:55] svr8 commented on #144
Yes. We had finished it.

[2019-07-20 18:57] svr8 commented on #167
Is this issue still there?

[2019-07-20 19:06] atherdon commented on #167
i didn't see any new PRs from you. so I assume yeah.

try
`yarn debug:generator`
`yarn debug:write`

[2019-07-20 19:06] #144 closed

[2019-07-20 21:32] atherdon commented on #167
do you want me to help you somehow?

[2019-07-20 21:34] atherdon commented on #167
if it be easy for you to navigate that error you may add

console.log('1')
console.log('2')
console.log('3')

between some code lines so it will be quickly pick where an error is. it's not the best way, but...

[2019-07-21 20:48] atherdon opened #174 "Eslint await error/warning"
**Describe the bug**
await inside loop generate warnings.
https://github.com/eslint/eslint/issues/10586#issuecomment-403837769
https://eslint.org/docs/rules/no-await-in-loop
https://stackoverflow.com/questions/48957022/unexpected-await-inside-a-loop-no-await-in-loop

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1469

[2019-07-21 21:43] atherdon commented on #167
I also think that we need to review code at our module, because at objects.js both methods has callbacks, but as we migrating to Promises, i think it should be updated as well https://github.com/GroceriStar/food-static-files-generator/blob/master/src/objects.js#L16

[2019-07-21 21:53] svr8 commented on #167
I see that `regeneratorRuntime` is not defined. However, I could not find any relevant import that could fix it.
Ok  I'll convert that to promise right now.

[2019-07-21 22:09] svr8 commented on #167
Can you please give an overview what happens when execute `yarn debug:generator`, or what is the use of `dist/index.cjs`?

[2019-07-21 22:19] atherdon commented on #167
sure, we use es6 style, but it not 100% supported - like before css3 was
not supported by all browsers.

so we trying to sit at all chairs and have ES6 code for a new projects and
ES5

We using Rollup for transpiling our code for old and new version at the
same time.

and compiled code we store at dist folder. So how it works - all methods
connected into one file and then converted to old or new v

[2019-07-21 22:19] atherdon commented on #167
rollup is like a webpack but it smaller, less confusing and used basically
for modules

[2019-07-21 22:22] atherdon commented on #167
if you want - i can take a look myself deeply, but i think you can crack it

[2019-07-21 22:25] atherdon commented on #128
@amogh-jrules we decide to replace callbacks with Promises, if you will need help, please buzz @svr8 because he leading this upgrade. and we also make changes in tests as well

[2019-07-21 22:27] atherdon commented on #121
closing for now - we have a similar chat at https://github.com/GroceriStar/food-datasets-csv-parser/issues/56

[2019-07-21 22:27] #121 closed

[2019-07-21 22:28] atherdon commented on #41
I think we mostly did this update so i'm closing it.
@Edebo buzz me when you'll be ready for a new task

[2019-07-21 22:28] #41 closed

[2019-07-21 22:30] atherdon commented on #114
#174 #163

[2019-07-21 22:35] atherdon commented on #167
https://github.com/babel/babel/issues/8829

https://github.com/rollup/rollup-plugin-babel/issues/306

[2019-07-21 22:39] atherdon commented on #167
i'm checking different options here as well

[2019-07-21 23:07] atherdon commented on #174
@svr8 please jump into this task while i trying different options in configuration.

that issue might cause errors at plain nodejs installation but i think it maybe will also solved with next releases on babel or babel plugins

[2019-07-21 23:17] atherdon opened #181 "runGenerator.js issue"
**Describe the bug**
we ship a new version of our npm plugin and we have issues at #167
i made some changes in confuguration but have issue when trying to run `yarn debug:generate'

i'm not sure if this approach is actually good for testing things...
need an advice

**To Reproduce**
Steps to reproduce the behavior:
1. install latest version of our generator packages
2. `yarn debug:generate'
3. See

[2019-07-21 23:20] atherdon commented on #181
current version of module was not published at npm, just to let you know

[2019-07-21 23:29] atherdon commented on #167
#181
at least half is fixed, `debug:write` is working without errors

[2019-07-22 08:04] vadim9999 commented on #181
Ok, Starting to work on it

[2019-07-22 09:08] vadim9999 commented on #181
@atherdon  Fixed in PR https://github.com/GroceriStar/food-static-files-generator/pull/182 . This approach of testing module is good. Because if you run `npm run debug:generator` and it returns an error then this module will not work anywhere

[2019-07-22 10:22] amogh-jrules commented on #128
Hi, actually was travelling the past few days, was not able to work... What am I supposed to be doing now? Should I get started with the promises?

[2019-07-23 02:46] atherdon commented on #181
this is why i'm not changing anything - because you know better. but it have some issues, especially if you don't have both sd and this module cloned at the same folder. Ok, we'll deal with it later

[2019-07-23 02:46] #181 closed

[2019-07-23 02:50] atherdon commented on #128
no problem at all. yes, callbacks was a nice idea but promises working
better for our approach.
we also solved some issues that we have, so please compare how other
methods was upgraded with pomises and make a similar one. same with tests

[2019-07-23 02:53] #174 closed

[2019-07-23 03:01] atherdon commented on #167
@vadim9999 i think you solve this with your latest PR, right? can i close this issue?

[2019-07-23 08:26] vadim9999 commented on #167
yes

[2019-07-23 18:07] #167 closed

[2019-07-23 18:15] #134 closed

[2019-07-23 18:57] elnur004 commented on #149
@atherdon i think this is a bit complex task for me, may you change it for me, please?

[2019-07-23 22:17] atherdon opened #185 "move setupPath method at utils.js"
**Is your feature request related to a problem? Please describe.**
we need to move method that has at this file and delete this file.
https://github.com/GroceriStar/food-static-files-generator/blob/master/src/generateArray.js

also please try to find out a place, where this method was called.

[2019-07-23 22:18] atherdon opened #186 "remove console.log from this file"
**Describe the bug**
check this file and clean it up
https://github.com/GroceriStar/food-static-files-generator/blob/master/src/generateFiles.js

[2019-07-23 22:30] atherdon opened #187 "moving files"
**Describe the task**

- [x] move files: generateArray,GenerateFile, generateFiles, groceristarStructure, measurements, menuGenerator into new `old-code` folder inside of `src`
- [ ] try to check if something broken after previous step by running 'npm run build:babel'
- [x] move testsMethods file into test folder
- [x] move projects folder away into root of this repo, outside of `src`

[2019-07-23 22:32] atherdon opened #188 "Fix "quotes" issue in src/measurements.js"
Strings must use singlequote.

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/measurements.js#issue_5d3789ba3908c50001000088

[2019-07-23 22:32] atherdon opened #189 "Fix "quotes" issue in src/generateArray.js"
Strings must use singlequote.

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/generateArray.js#issue_5d3789ba3908c50001000049

[2019-07-25 06:29] Edebo commented on #41
@atherdon,pls can i chat u up privately

[2019-07-25 08:33] atherdon commented on #41
sure, use my email - arthur.tkachenko.netweight@gmail.com

[2019-07-25 13:44] amogh-jrules commented on #128
@atherdon  I just wanted to ask a quick aside... what is purpose of this repository, we generate static json files, why? how?
Is this related to ml module which reads data from actual grocery lists? I was actually trying to add this project on my resume, but I couldnt really figure out exactly what this is all about

[2019-07-25 18:32] atherdon commented on #128
read that list and tell me if it still not clear:
https://medium.com/groceristar/moving-out-static-food-json-files-e27f8cba003
https://medium.com/groceristar/groceristar-fetch-small-module-that-weve-created-8b4a62bd5d7b
https://medium.com/groceristar/q-a-what-were-doing-here-part-2-8372ba1f656
https://medium.com/groceristar/tech-stack-that-were-using-at-groceristar-f7b08d36691b

[2019-07-26 09:11] amogh-jrules commented on #128
Thanks for these, was searching for them everywhere

[2019-07-26 22:28] atherdon commented on #128
maybe i just not shared some with you. but at first task that you posted at sd repository there a link to these articles.
tell me if something else is not creal

[2019-07-27 18:56] svr8 commented on #132
Should we write tests for `src/utils.js`?

[2019-07-28 02:24] #185 closed

[2019-07-28 02:24] #186 closed

[2019-07-28 02:38] atherdon commented on #132
@svr8 not sure. are we finish all pending things?

[2019-07-28 02:38] atherdon commented on #128
@amogh-jrules I can review your resume if you want to hear some feedback

[2019-07-28 05:03] amogh-jrules commented on #128
That'd be wonderful, I'll forward it to you when I am done :)

[2019-07-29 06:31] atherdon opened #194 "fileSystem, read method upgrade"
**Is your feature request related to a problem? Please describe.**
We have one unfinished task

- rename this method to 'read'
- export it at index.js
- by using examples of write or save - extend this method, so it can accept promises as our other 3 methods doing
- add one test cover for this method at filesystem.test.js

We using promises for returning true/false and that value can be received a

[2019-07-29 10:44] sarthakvijayvergiya commented on #194
@atherdon I really don't understand the mentioned details ?

[2019-07-29 19:25] atherdon commented on #194
ask a more specific question, please.

For sure it's hard from beginning to jump into a working project. don't worry - if something is not clear - we always open for discussion

[2019-07-29 19:27] atherdon commented on #163
@ijb87 you can grab this task

[2019-07-29 19:27] atherdon commented on #189
@ijb87 similar to prev task

[2019-07-29 19:27] atherdon commented on #188
@ijb87 another small task

[2019-07-29 21:43] atherdon commented on #149
@svr8 maybe you can help with this task. first we need to have a list of methods that have paths.
then we'll upgrade them in bulk, because we have  same "pain points" there

[2019-07-30 03:25] ijb87 commented on #163
![image](https://user-images.githubusercontent.com/11367782/62098254-98627900-b257-11e9-8314-cbc637d557be.png)

How do I run it like that? I tried
`git clone https://github.com/GroceriStar/static-data-generator.git` - says: remote: Repository not found. fatal: repository 'https://github.com/GroceriStar/static-data-generator.git/' not found
and
`npm install @groceristar/static-data-generator` - thi

[2019-07-30 07:16] atherdon commented on #163
1) you need to clone this repo
2) as this is a separated module, that build with rollupjs - you wouldn't
be able "to install" it as nodejs.
in order to get transpired code - you need to run `yarn build` and then you
can run a script from generator. as we don't finished our test coverage -
it's hard to do it correctly

[2019-07-30 16:59] svr8 commented on #149
Here is a list of files:

- fileSystem.js
  - write()
  - read()
  - save()
  - makeFolder()
- generateArray.js
  - setupPath()
- generateFile.js
  - generateFile()
- generateFiles.js
  - generateFiles()
- objects.js
  - combine()
  - split()
- testsMethods.js
  - jsonFileNotEmptyTest()
  - jsonSchemaTest()
- utils.js
  - checkFilePath()
  - isDirectory()
  - fixPath()
  - getFileInfo()
  - getLis

[2019-07-30 17:01] atherdon commented on #163
I made a mistake. I mean you need to fork a repo, in order to be able to make code changes.
Clone wouldn't work corrently at this situation, when we have a lot of collaborators

[2019-07-30 17:03] atherdon commented on #163
so
1) fork
2) clone your fork to the local PC
3) go to folder with package.json + `npm install`
4) then you can work with code

[2019-07-30 17:05] atherdon commented on #163
@IamRaviTejaG Please help with this task as well, but not overlap with changes from Ihab.
As we starting to fix it from the beginning of ESLint output - you can fix some errors from `utils.js`

[2019-07-30 17:20] atherdon opened #196 "exported function generate an issue"
**Describe the bug**
i just open a Travis CI log and find this bug.
Link: https://travis-ci.org/GroceriStar/food-static-files-generator/jobs/565138774

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1469198/62150772-7b857e80-b307-11e9-8462-f9b29f5e425b.png)

[2019-07-30 17:22] atherdon commented on #196
@IamRaviTejaG fix it as well, please

[2019-07-30 17:27] atherdon commented on #149
thanks! this is what I need.

I'm a bit busy right now. if you need a task - please take a look around
and find something.

[2019-07-31 03:16] IamRaviTejaG commented on #196
@atherdon Fixed it. Please check and merge the PR. 😄

[2019-07-31 09:19] sarthakvijayvergiya commented on #194
yes, there is already read method exist in the code file so which method to rename bit confuse and why we are using promises this way is obsolete now we have async await methods are available now.
Please let me know if more information is require.

[2019-07-31 10:08] atherdon commented on #194
@svr8 @vadim9999 can you advice here?

[2019-07-31 10:09] atherdon commented on #194
show me the code and if it will work - we'll debate about it. there some
reasons for doing it. if you find a better way - ok, but code - firstly ;)

[2019-07-31 10:12] #196 closed

[2019-07-31 10:13] sarthakvijayvergiya commented on #194
@atherdon but first I need to understand the flow of project if anyone can do knowledge transfer then it will very helpful for me to start. We can schedule online meetup type... or you can suggest better.

[2019-07-31 10:16] atherdon commented on #194
as we have a different timezones - it will be hard to schedule something.
let's do this way.
- review codebase
- create a separated issue with all of your questions(i think we need to
have around 10 of them or in other case - call was not very useful for
solving one question)
- and we'll answer all of your questions when we'll have time.

sounds good?

[2019-07-31 10:18] sarthakvijayvergiya commented on #194
Yes.

[2019-07-31 10:23] atherdon commented on #194
you can also create a separated task and explain in details why our
`promises` way is not good and what you propose to do instead,
take some time, imagine that someone else will work on that and put as much
details as you can

[2019-07-31 15:26] IamRaviTejaG commented on #72
@atherdon Can I work on this?

[2019-08-01 04:04] atherdon commented on #72
@IamRaviTejaG it mostly done. keeping it for some purposes.

[2019-08-01 04:05] atherdon commented on #163
@IamRaviTejaG I think you miss a notification from this task

[2019-08-02 07:27] IamRaviTejaG commented on #163
@atherdon I'm working on it. Fixing one lint issue pops up a new set of linting issues. Regardless, a PR should be through soon. 😄

[2019-08-02 08:02] atherdon commented on #163
don't forget that you're working together with other members, so it better
to have few quick PRs, rather than one big fix

[2019-08-04 08:19] atherdon commented on #163
i want to see some progress at this task. it should be huge or perfect. show me your code

[2019-08-04 08:21] atherdon commented on #46
i think it's done

[2019-08-04 08:21] #46 closed

[2019-08-04 08:25] atherdon commented on #194
tell me if you need help

[2019-08-05 05:51] atherdon commented on #72
closing this task

[2019-08-05 05:51] #72 closed

[2019-08-05 05:52] atherdon commented on #40
lintStaged is added but not configured to prevent committing with issues

[2019-08-05 05:53] #128 closed

[2019-08-05 05:58] atherdon commented on #163
@NathanielFaber @ijb87 @IamRaviTejaG tell me what is not clear or hard to do here

[2019-08-05 06:06] atherdon opened #201 "eslint errors"
**Is your feature request related to a problem? Please describe.**
We will start with one file - you need to fix **fileSystem.js**

@geeksambhu you can grab it

**Screenshots**
![xxx](https://user-images.githubusercontent.com/1469198/61488828-de931f00-a9b1-11e9-9cab-268e82216581.png)

[2019-08-05 11:27] atherdon commented on #187
@ChukwuEmekaAjah jump into this task

[2019-08-05 18:58] sarthakvijayvergiya commented on #194
I am ready with my queries and code. Man you please assign me this issue. And Please add me in your organization also. So I can proceed with my pull request. Sorry for delay.
Regards
Sarthak

[2019-08-06 08:02] ChukwuEmekaAjah commented on #187
Do I have to create a new branch for this? I don't know the branch on which I should move the files. Thanks for your guidance.

[2019-08-06 09:06] atherdon commented on #187
you need to fork the repo.  but if you want - yes, you can create a branch
for this

[2019-08-06 09:14] atherdon commented on #194
you assigned to this task. you can proceed with your pull request

[2019-08-06 09:24] atherdon commented on #194
follow this link https://github.com/GroceriStar

[2019-08-06 15:26] IamRaviTejaG commented on #163
@atherdon In the file `fileSystem.js`, there are a lot of `console.log` statements, which are not recommended as per ESLint. I suggest that we use a logger like **winston** or **morgan** for logging. In case we take the other way out, these warnings can be suppressed project wide by simply adding `'no-console': 'off'` to `.eslintrc.json`.

[2019-08-06 15:44] atherdon commented on #163
give me code lines, so i can quickly take a look.
move your suggestion into a separated task

[2019-08-06 15:44] atherdon commented on #163
can we ignore console.logs for this file only?

what about other things? are you ready to open PR?

[2019-08-06 16:17] IamRaviTejaG commented on #163
@atherdon Yes, we can ignore `console.log` statements for a specific file, but it is always a great practice to have a logger in place.

[2019-08-06 17:22] atherdon commented on #163
Was this comment processed?

[2019-08-07 05:46] IamRaviTejaG opened #207 "Introduce a logger into the project"
`console.log` isn't a good way to log. There are great alternatives to this and they can get the job done in a pretty detailed way. I would suggest to introduce `winston` as the logging library for this project.

PS: This issue is an follow up on the suggestion from my comment on the linting errors thread: https://github.com/GroceriStar/food-static-files-generator/issues/163#issuecomment-518740407

[2019-08-07 05:47] IamRaviTejaG commented on #163
@atherdon Here is the new issue: https://github.com/GroceriStar/food-static-files-generator/issues/207

[2019-08-07 06:37] atherdon commented on #207
i'm interested to explore new things here.
But it's not in my priority.

Give me more reasons, rather than it's better.

[2019-08-07 06:41] atherdon commented on #163
Can we have a line at fileSystem, that will disable eslint console.log check for this file only?
I don't want to apply that rule to all files. only to this one.

[2019-08-07 08:41] IamRaviTejaG commented on #207
Sure! Loggers let you maintain an elaborate record of all the events that take place. While a simple `console.log` does the job, but once the terminal is closed, we end up losing access to the events that took place. So, using a logger helps save them into a file for various purposes. Also, errors, warnings and info, all types of logs can clutter up the terminal, reducing readability. Using logger

[2019-08-07 08:52] atherdon opened #209 "Generator module should be [Main task]"
**Is your feature request related to a problem? Please describe.**
Some history:
- 4 months ago generator was just a script at [sd repository](https://github.com/GroceriStar/sd)
- Now we move it out and want to make it completely independent from prev source.
- Right now at `src` folder we have few files that a rudimentary, from old times. Files like (`configGenerator.js` + `GenerateFile`/`Generat

[2019-08-07 09:41] geeksambhu commented on #201
Hi @atherdon I have changed the file and tried to commit but commit failed as pre-hook commit failed:

This is the error log

[code]

[2019-08-07 10:12] atherdon commented on #201
I moved configGenerator file into `/projects/` folder. please change paths
at `src/generateFiles.js` and commit it as well

[2019-08-07 10:40] atherdon commented on #163
part of errors was fixed.
But we still have warnings

![image](https://user-images.githubusercontent.com/1469198/62616676-d2e3aa00-b918-11e9-91f4-a97c4bc69d0c.png)

[2019-08-07 10:43] atherdon opened #210 "configure lint-staged"
**Describe the bug**
it mostly done, but as usually - not finished.
config is located at pkg.json and lint-staged.config.js

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain yo

[2019-08-07 10:45] atherdon commented on #201
we partially finished this task.
please fetch latest changes from our repository.
And tell me if you can fix issue with configGenerator

[2019-08-07 10:45] atherdon commented on #209
@geeksambhu

[2019-08-07 10:55] atherdon commented on #201
closing

[2019-08-07 10:55] #201 closed

[2019-08-07 11:38] geeksambhu commented on #209
@atherdon  I really don't understand the mentioned details and the context. Can you please summarize or elaborate more

[2019-08-07 14:32] atherdon commented on #209
ask a specific question, please.
what exactly not clear?

[2019-08-08 05:02] sarthakvijayvergiya commented on #194
Hello @atherdon Hope you are doing well. Wanna chat with you please schedule online meetup at your convenience time.

[2019-08-08 07:45] atherdon commented on #194
while you not asking specific question - i need to refuse.
hope it's ok - i'm busy and also don't like calls/scheduled meetups

[2019-08-08 10:04] edward-hong commented on #209
@atherdon

From reading the comments in the file `src/generateFile.js` I'm guessing you want the file to be refactored to something like:

[code]

Am I on the right track?

[2019-08-08 16:26] atherdon commented on #209
I made a video, take a look: https://www.loom.com/share/6df49e613a274aac93ff34c7f13bbdef

[2019-08-08 16:27] atherdon commented on #194
@sarthakvijayvergiya I made a video at #209

[2019-08-09 18:19] IamRaviTejaG commented on #207
@atherdon What is your opinion on this? Seems my comment got lost in the notifications. 😄

[2019-08-09 20:09] atherdon commented on #207
I read your comment. it's still not in my priority list.

So I hope you'll help us with #209 and when we'll finish main tasks - we'll think about this idea

[2019-08-10 10:13] vadim9999 commented on #210
Can you give me more details? Should I set up eslint?

[2019-08-10 10:54] atherdon commented on #210
I think we have eslint here.
read this article - it should help a bit:
https://medium.com/gits-apps-insight/utilizing-git-hook-by-using-eslint-husky-and-lint-staged-18b6f6f60f1e

[2019-08-10 16:35] vadim9999 commented on #210
https://github.com/GroceriStar/food-static-files-generator/pull/216

[2019-08-10 17:34] #210 closed

[2019-08-11 09:40] atherdon opened #217 "travis ci build error"
**Describe the bug**
I think one of the methods from FS is working not correctly
link: https://travis-ci.org/GroceriStar/food-static-files-generator/jobs/570435537

**Screenshots**
![image](https://user-images.githubusercontent.com/1469198/62832335-2154b980-bc35-11e9-8809-f9b0fc65a442.png)

@IamRaviTejaG you can jump into this task

[2019-08-11 21:00] IamRaviTejaG commented on #217
@atherdon Sure, will send a PR soon!

[2019-08-14 11:47] atherdon commented on #209
@vadim9999 can you jump into this task?

[2019-08-16 15:33] atherdon opened #220 "Tests at generator module [discussion]"
**Is your feature request related to a problem? Please describe.**
@oksanafrankiv this will be our task for discussion tests at this simple module.

Partially - we start to add tests, but we never focused on 100% coverage. So let's make this current version of the module covered with tests and then we'll extend tests, because soon this module will be upgraded(major part will be the same, but logic

[2019-08-17 15:32] atherdon commented on #220
you may also watch this video: https://github.com/GroceriStar/food-static-files-generator/issues/209#issuecomment-519591165
it can help to understand what we're actually doing here

[2019-08-17 15:38] atherdon commented on #49
before we have tests at sd folder. so we need to check if we move all of tests related to generator into a separated repository

[2019-08-17 15:40] atherdon opened #223 "Can we use in this module try catch finally? Also create exceptions and throw it? or It's a type of work backand? If no can I use if else of checking is variable is undefined? Should we create a module strong to some errors like a server? Many errors but the server still working?"
Can we use in this module try catch finally? Also create exceptions and throw it? or It's a type of work backand? If no can I use if else of checking is variable is undefined? Should we create a module strong to some errors like a server? Many errors but the server still working?

_Originally posted by @vadim9999 in https://github.com/GroceriStar/food-static-files-generator/issues/37#issuecomment-

[2019-08-17 15:41] atherdon commented on #37
i move your suggestion into a new task. i think we can close this task. tell me if i'm wrong

[2019-08-17 15:41] #37 closed

[2019-08-17 15:42] atherdon commented on #13
@AndrewSerra tell me if you still with us

[2019-08-17 15:43] atherdon commented on #220
another thread about tests: https://github.com/GroceriStar/food-static-files-generator/issues/132

[2019-08-17 15:52] atherdon opened #224 "generate test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2019-08-17 16:23] atherdon opened #225 "files from output folder doesn't regenerated"
**Describe the bug**
The problem is simple. I think that when we run inside scripts like generatefiles - it will regenerate our files, that we're using for debug and tests. But those files doesn't regenerated at all. So if I simply delete all content from that folder - our builds will start to crash, because we simply don't have those files.

**Screenshots**
check this screenshot. When I deleted a

[2019-08-17 16:25] atherdon commented on #217
tell me if you need help. feel free to use help for moving forward.
it better to fix things quickly, rather than just try to crach it on your own

[2019-08-17 17:21] oksanafrankiv commented on #220
I don't have an experience working with JEST. I could use some resources to learn it.

I familarizing myself with the project. I've cloned the repository and ran tests.

[2019-08-17 17:40] atherdon commented on #220
Today I make a review of code as well.
Not sure actually if we have a lot of tests here, actually. But we'll make it work - i'll spend more time and prepare notes for tests

[2019-08-17 17:49] atherdon commented on #220
this is my repository with articles about Jest. it's not formatted yet - lazy to do it.
https://github.com/ChickenKyiv/awesome-jest-articles but take a look, please

This books is the best way to start from scratch: https://github.com/ChickenKyiv/awesome-jest-articles/blob/master/README.md#this-is-my-king-httpsflaviocopescomjest

but we need to keep a balance between learning and practice. because

[2019-08-17 17:51] atherdon commented on #220
tell me if you'll have issues with local project setup. this is not a nodejs server project - it's not possible to run it locally without creating a build. and build is created by rollup - so things a tricky. but it;s a great workflow for coding independent modules

[2019-08-17 18:50] atherdon commented on #220
tell me please also about your git skills as well. I have few courses
prepared, can share them with you

[2019-08-19 01:46] atherdon commented on #217
i just solve this bug. closing it.
buzz me when you ready for other task

[2019-08-19 01:46] #217 closed

[2019-08-19 01:49] atherdon opened #228 "debug is now working"
**Describe the bug**
it's because of `shady` setup that @vadim9999 made before. generator wouldn't work separately from having an sd repository, checkouted locally, at the same folder.
In my case - i have another branch of sd checkouted, so generator cannot work with it correctly.

in order to make travis green - i'm hiding generator for now

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2019-08-19 01:51] #115 closed

[2019-08-19 01:53] #114 closed

[2019-08-19 01:54] atherdon commented on #163
fixed. closing it

[2019-08-19 01:54] #163 closed

[2019-08-19 21:05] oksanafrankiv commented on #220
I didn't have problems with the project set up. I have basic knowledge of GIT, but I would like to learn more about it. If you would share those courses with me that would be great! Thanks!

[2019-08-19 23:31] atherdon commented on #220
Sure, I'll share them soon

[2019-08-21 04:15] oksanafrankiv commented on #220
I reviewed lots of materials about Jest over the couple days. Now I want to try to wright some tests. Could you please specify which functions should be covered by tests first? Any suggestions where to start, any notes would be greatly appreciated.

[2019-08-22 16:59] atherdon commented on #220
Sure, will do it today
it's also a good time for writing tests at this module - we have a big update coming, but right now we didn't start to work on it.
and I saw that here we have a lot of code commented on test.

[2019-08-22 18:59] atherdon commented on #220
please check this video: https://www.loom.com/share/71d0764686b34482b118e560f11ff974

[2019-08-24 03:12] IamRaviTejaG commented on #217
@atherdon Please assign me a new task.

[2019-08-24 04:56] atherdon commented on #149
@IamRaviTejaG check this task and tell me if you think you can improve our methods

[2019-08-28 00:12] atherdon commented on #220
as mentioned, links to my 2 git courses:
The first course was touching only basics, but I share some cool insights there as well.
Free link: https://www.udemy.com/course/git-basics-and-merging-process/?couponCode=HACKERNOONROCKS

the second course explore how to use git as team member
free link: https://www.udemy.com/course/git-workflows-in-depth/?couponCode=EUGENE

[2019-09-02 02:30] atherdon commented on #220
I assume we need to have a better plan because i feel like you stuck a bit. Just think that if you'll make a first pull request with your simple code changes - it'll be more easy for you to move it forward.
I'm ok if you busy - take as much time as you want/need - just use me if you need help

[2019-09-02 08:34] vadim9999 commented on #220
This comment is for me?

[2019-09-02 09:37] atherdon commented on #220
@vadim9999 no, it's for @oksanafrankiv actually.
But you have some time for some contribution - let me know

[2019-09-02 09:44] vadim9999 opened #243 "Discussion"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-09-02 09:45] vadim9999 commented on #243
@atherdon why we are using rollup instead of webpack?

[2019-09-02 11:02] atherdon commented on #243
it's my decision, based on what I explored.
you can navigate to awesome-dev-stuff repository - find section rollup and
see there a list of articles that i read.

brief answer: rollup for small modules - webpack for complex projects

[2019-09-03 05:30] oksanafrankiv commented on #220
I tried to make the pull request, but I'm denied the access to repository. It seems that I can't create the remote branch. Do you have any suggestions?

[2019-09-03 06:14] atherdon commented on #220
Sure, no problem

we're using forking workflow - about details - check my 2nd git course - so
in order to be able to code together -you should fork our main repository -
put your changes at that forked version and only then you'll be able to
open pull request

[2019-09-05 04:32] atherdon commented on #220
@oksanafrankiv let's discuss what we should do next

[2019-09-05 04:45] oksanafrankiv commented on #220
Yes, sure!

[2019-09-05 04:55] atherdon commented on #220
1) I think we can add missing test for a method at fileSystem
2) we can make work index.test.js - main goal for that file: be less paranoid, and understand that methods, that we exporting to the outside(so they can be called by other modules) are connected/imported correctly and
3) as you may notice - we have file `testMethods` with 2 methods, that testing if generated json files have the correct

[2019-09-05 05:14] oksanafrankiv commented on #220
Sounds good. I'll work on those files.

[2019-09-05 05:16] atherdon commented on #220
let's pick one of those options :)
tell me what item you'll start to work on?

btw, i made changes at main repository - please sync your fork. if it'll be
not clear - tell me - i'll help

[2019-09-05 05:40] oksanafrankiv commented on #220
Ok I'll work on option 1.

[2019-09-05 05:42] atherdon commented on #220
ok, cool - if you need help of stuck at something - just open new PR and i'll be able to look at your code changes locally

[2019-09-05 07:08] Beni03 commented on #149
@atherdon
Adding these lines of code in each method will improve them.

1. var isValid = require('is-valid-path');
//inside each method
2. if(!isValid(path))
    {
        console.log("path is not valid")
    }
Example:
//src/fileSystems/write method
const write = (path, data) => new Promise((resolve) => {
if(!isValid(path))
    {
        console.log("path is not valid")
    }

  const dataStr = s

[2019-09-05 07:28] atherdon commented on #149
alright - can you open a pull request with code changes so i can look into it?
don't forget your fork, because we made some configuration changes

[2019-09-05 07:33] Beni03 commented on #149
Yes! Will sync my fork and send you a pull request

Sent from my iPhone

[2019-09-10 00:18] Beni03 commented on #149
![image](https://user-images.githubusercontent.com/16260275/64574731-83343c00-d325-11e9-8598-213935a800c7.png)

this is the error I am getting after npm install.
I think because of this error, I could not commit my changes.

[2019-09-10 07:16] atherdon commented on #149
first of all - run audit is not really necessary.
because we have 3rd party service that updating packages for us, so i'm
pretty confident that audit wouldn't return any major issues.

your `npm install` completed without any errors. i think all is working
fine.

if you want to make a local build, run `npm run build` and you'll see our
bundler output

[2019-09-11 07:15] atherdon commented on #149
i have a question. i'm a bit confused. we have a method inside of our src folder. named like `isFolderExist`.
is it work differently from `is-valid-path`?
should we use both of them or just use only one?

[2019-09-12 04:20] oksanafrankiv commented on #220
I'll work on option 2.

[2019-09-12 06:43] Beni03 commented on #149
is-valid-path checks for any invalid characters in the path whereas
isFolderExist i.e..(existSync(path)) will check if a folder is already
exist. So
I think in makeFolder method, it is better if we first use is-valid-path to
check for any invalid characters in the path(argument) first and then call
the existSync()
to see if the folder is already exist or not.

On Wed, Sep 11, 2019 at 12:15 AM Arth

[2019-09-12 06:59] atherdon commented on #149
now it's more clear for me ok show me the code - we'll also add some tests
that will help us with catching some bugs

[2019-09-12 07:04] atherdon commented on #146
should we close this task or something is still missing?

[2019-09-12 07:08] saphal1998 commented on #146
I think it's done.

[2019-09-12 07:09] atherdon commented on #220
ok, great - tell me if you need more information

[2019-09-12 07:10] atherdon commented on #146
awesome! what do you want to do next?

[2019-09-12 07:10] #146 closed

[2019-09-12 07:15] saphal1998 commented on #146
Please assign me some task that has to do with React, if that's possible. I'm trying to learn React currently.

[2019-09-12 07:51] atherdon commented on #146
we have react projects, but again, the problem is - i don't want to change
my focus at this moment.

this task was created in july and we only now close it.
I understand that everybody is busy, i'm fine with that - but i can only
offer you a deal - show me here a nice valuable progress, be proactive and
grow as team member - and then i'll help you to learn react.

Things that we're doing right now

[2019-09-12 07:55] saphal1998 commented on #146
Absolutely. I am ready to do whatever you assign to me. It will only help me improve so I agree with that. I was just stating a preference is all. Yes, I am fine to work on whatever you assign me to. No worries.

[2019-09-14 19:09] atherdon commented on #194
@saphal1998 check this task. i'm not sure if it was completed or not.
let's go step by step and figure it out together

[2019-09-15 05:39] Beni03 commented on #149
![error screen](https://user-images.githubusercontent.com/16260275/64917047-6c844f80-d740-11e9-8e8a-dcb3eceb2c54.png)

I am geting this error after adding return statement

[2019-09-15 05:55] atherdon commented on #149
can you push your changes and open a pull request, so I can checkout it locally and take a look?

[2019-09-15 10:50] Mishra121 commented on #209
@atherdon  Do I need to implement the callback or something else?

[2019-09-15 22:29] saphal1998 commented on #194
`const read = (absolutePath) => new Promise((resolve,reject)=>{
  console.log(absolutePath);
  if (!isValid(absolutePath)) {
    console.log('path is not valid');
  }

  let dataStr;
  fs.readFile(absolutePath,(err,data)=>{
    if(err){
      console.log(err);
      reject(err);
    }else{
      if(data === ''){
        console.log(`${absolutePath} returned empty`);
      }
      console.log(data)

[2019-09-15 22:32] saphal1998 commented on #194
![Screenshot 2019-09-16 at 04 01 14](https://user-images.githubusercontent.com/31125345/64928495-a20b6480-d836-11e9-9e2e-4e902b5f9d74.png)

I think this code is correct. Please let me know if you see any mistakes. I tried it on my local machine and it seems to work.

I'm not quite sure what this meant. Does this mean I change the resolve and reject parameters here? Please let me know.

[2019-09-15 22:58] atherdon commented on #194
No, I think this part of was actually done. Code is not formatted, but correct.

Maybe small perfectionistic improve - inside of `if` make `!err`, so important part of code goes first and error handle will go after that.

---

what about other things? other sub-tasks is covered as well? you mentioned tests - do we have test for this method? I just not remember - can you take a look?

[2019-09-15 23:05] atherdon commented on #194
quick notes:

1) I made some changes recently at master branch. please sync your fork in order to catch them. changes related to generation process. now code looks more pretty. if you'll have issues with sync process - tell me, i'll help

---

2) I find another quick task for you - move methods from `writeFile` into utils. but you should do it in a smart way, so nothing will go broken because of i

[2019-09-16 08:23] saphal1998 commented on #194
![Screenshot 2019-09-16 at 13 50 58](https://user-images.githubusercontent.com/31125345/64943309-06efaa80-d889-11e9-9faf-8d492da6ac00.png)

I'm getting this error. Not sure how to solve this. Please advise.

Alright, I'll look into this, and get back to you if I have any queries.

No you haven't shared them with me. Please do. I think they will be very useful for me, my git skills need some improv

[2019-09-16 08:26] saphal1998 commented on #194
The  code for the read method was synchronous, I just made that Asynchronous using Promises. I wanted to push that, but I'm getting the error in the 'pretty-quick' stage while committing my changes. So I can't make the PR, please advise on that.

There's already a test written for the method in fileSystem.test.js

[2019-09-16 08:56] atherdon commented on #194
@saphal1998 will take a look. can you share with me link to your forked repository?

[2019-09-16 08:57] atherdon commented on #209
@Mishra121 can you explain more or maybe show your code change at pull request?

[2019-09-16 09:16] saphal1998 commented on #194
[This is my forked repo](https://github.com/saphal1998/food-static-files-generator)

Will you be able to create a few more tests related to read?

Yes, but, I'll need some time. Never created tests before. I want to learn, so give me 2 days or so. I need to look into it. If you could suggest some resources for that as well, I'd appreciate it.

[2019-09-16 09:43] atherdon commented on #194
don't worry about time - take as much as you need

[2019-09-16 15:51] atherdon commented on #194
please merge PR and re-install packages locally https://github.com/saphal1998/food-static-files-generator/pull/1

I tried to check your changes, but I can`t - because issue with prettier and lint-staged prevent you actually to commit to GitHub.

maybe you can save your changes at some other place(anoter branch) and then remove your changes and try slowly, file by file add changes and then try to c

[2019-09-16 21:12] saphal1998 commented on #194
Could you send me this?

[2019-09-16 21:22] atherdon commented on #194
sure,

1)
https://www.udemy.com/course/git-basics-and-merging-process/?couponCode=PRODUCTHUNTROCKS
2)
https://www.udemy.com/course/git-workflows-in-depth/?couponCode=PRODUCTHUNTROCKS

[2019-09-17 17:18] ijb87 commented on #189
I don't see the generateArray.js file in the src folder

[2019-09-17 17:19] ijb87 commented on #188
i don't see the measurements.js file in the src folder

[2019-09-17 19:51] atherdon commented on #189
i think we resolved this task for this moment.
Ok, i'll find a new task for you

[2019-09-17 19:54] atherdon commented on #188
yeah, we moved out that files to projects3.0 folder.

for now @ijb87 you can fix this todo: https://github.com/GroceriStar/food-static-files-generator/blob/master/src/fileSystem.js#L89

[2019-09-17 19:54] #189 closed

[2019-09-20 01:06] saphal1998 commented on #194
I've written a couple of tests which you can find on my forked repo. They are working locally and have some linting issues only. Can you please advise as to how to proceed? I have not been able to remove these errors.
![Screenshot 2019-09-20 at 06 34 47](https://user-images.githubusercontent.com/31125345/65291440-026d0f80-db71-11e9-827e-c88233558157.png)

[2019-09-20 08:49] atherdon commented on #194
yes, linting can drive me crazy as well. especially for the beginning.

but it's a very great tool that keep our code in a good shape.

there can be a few quick ways to do that.

1) first of all you can just google error output and figure out how to fix
it.
2) bad approach but quick - apply rule that will skip linting for this file
so you will be albe to open a pull request with your changes
3) co

[2019-09-20 16:50] atherdon commented on #194
@saphal1998 I think i can close this task, right?

[2019-09-20 17:10] saphal1998 commented on #194
Yes

[2019-09-20 17:49] #194 closed

[2019-09-20 17:50] #243 closed

[2019-09-20 17:51] atherdon commented on #188
@ijb87 tell me if you started this task - because now we merged new chances and code line can change a bit

[2019-09-20 17:52] atherdon commented on #187
@ChukwuEmekaAjah are you still with us? I also started to work on this task...

[2019-09-21 02:05] ijb87 commented on #188
haven't started on it yet...I just remembered xD i'll start working on it, but to be clear, the task is to improve the getFileName method by shortening it?

[2019-09-21 02:24] ijb87 commented on #188
haven't started on it yet...I just remembered xD i'll start working on it, but to be clear, the task is to improve the getFileName method by shortening it? ... I don't see fileSystem.js on my IDE even after I even did:

`git fetch --all` and
`git reset --hard origin/master`

[2019-09-21 02:24] ijb87 commented on #188
![Untitled](https://user-images.githubusercontent.com/11367782/65366700-74873800-dbf5-11e9-849f-6b76e8c1a144.png)
this is what i see

[2019-09-21 09:34] atherdon opened #264 "Move methods from writeFile into utils"
Is this an issue or do you want me to create this issue? If it is an issue, can you please tag me there?

_Originally posted by @saphal1998 in https://github.com/GroceriStar/food-static-files-generator/pull/263#issuecomment-533752903_

[2019-09-21 09:34] atherdon commented on #264
@saphal1998 I create a separated issue for you

[2019-09-21 09:36] atherdon commented on #264
Main goal for this moves is because before we have a lot of content inside at writeFile, but it was confusing, so we decided to make some changes. and when I catch `writeFIle` at repository i still have feeling that something is wrong

[2019-09-21 09:38] atherdon commented on #188
@ijb87 emm, nope.

At method `save` you should replace the default loop with a method from lodash library. for sure it should work after changes. you can also make more changes if you wish but be careful

[2019-09-21 16:17] saphal1998 commented on #264
Okay. I'll look into this.

[2019-09-21 17:01] atherdon commented on #264
cool!

[2019-09-24 21:24] ijb87 commented on #188
what do you mean by:

`// - we just need to find a better way to
    // rewrite a getFileName method`

[2019-09-25 04:06] atherdon commented on #188
@ijb87 it's hard to explain :)
when I see that code - it's not perfect  - my gut tells me that.
show me few code changes and if it will require changes - i'll tell you.

again - everything here is related to pull requests - if you start something - that show me and I will be able to guide you forward

[2019-09-25 17:52] atherdon commented on #187
closing this issue, if someone need another task - buzz me at github comments

[2019-09-25 17:53] #187 closed

[2019-09-25 17:54] #264 closed

[2019-09-25 18:01] atherdon commented on #209
@saphal1998 please check this video - it will give you some details what to do next https://www.loom.com/share/2ec12f1a007b47b484a813ac9979e71b

[2019-09-27 21:51] saphal1998 commented on #209
Firstly, Sorry for the delay. I was a bit occupied since the past two days.

As far as I understood, you're looking to modularise the generator code to individual folders in projects3.0. So I will try and just see how this code works for now and send a pull request when I see some changes that I can make.

Thanks for filling me in @atherdon

[2019-09-28 14:28] atherdon commented on #209
@saphal1998 not a problem at all. sure go ahead

[2019-09-29 21:48] atherdon opened #275 "after my updates everything crashing :)"
**Describe the bug**
you can check travis ci and see that tests not going well.
https://travis-ci.org/GroceriStar/food-static-files-generator/jobs/591233082

I hope it was introduced when I moved source code into `package` folder

in order to get more clear story of my changes, see https://github.com/GroceriStar/food-static-files-generator/commits/master
**To Reproduce**
Steps to reproduce the beh

[2019-09-29 21:50] atherdon commented on #275
@saphal1998 can you take a look at this task as well?

[2019-09-29 22:06] saphal1998 commented on #275
Absolutely

[2019-09-30 19:45] atherdon opened #277 "@atherdon The issue is fixed, but I used a very 'hacky' way to fix it, I shall look into this further, but for now, it works."
@atherdon The issue is fixed, but I used a very 'hacky' way to fix it, I shall look into this further, but for now, it works.

Essentially, for some reason, I'm not able to use fs.mkdir/ fs.mkdirSync to make the output directory. But if we manually create the folder, everything works

_Originally posted by @saphal1998 in https://github.com/GroceriStar/food-static-files-generator/pull/276#issuecomm

[2019-09-30 19:48] atherdon commented on #275
closing this issue, you can continue your work on parser.

We spot some sort of bug in generator, but i need some time to investigate it

[2019-09-30 19:48] #275 closed

[2019-10-02 12:17] atherdon opened #284 "https://support.udemy.com/hc/en-us/articles/231954647-Practice-Test-FAQs"
**Describe the bug**
https://support.udemy.com/hc/en-us/articles/231954647-Practice-Test-FAQs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2019-10-03 00:53] ijb87 commented on #188
@atherdon I don't think I have permission to pull request...

[2019-10-03 09:55] atherdon commented on #188
hmm, you should have a forked repository - and you'll have ability to open pull requests

[2019-10-03 09:57] atherdon commented on #188
I even don't see this repository on your account, so please fork this repo first, then checkout it locally and then start to make your changes

[2019-10-04 22:07] saphal1998 commented on #209
@atherdon I'm having a hard time understanding what WeeklyMenu does. I have run the functions individually but can you please describe what is the agenda of all the individual files in the src folder.

[2019-10-05 20:30] atherdon commented on #209
Ok, the weekly menu is just a set of recipes, related to a particular week.
this is just part of the functionality that we're developing.
you can think about it as a collection of recipes, filtered by some sort of
filter.

my goal with separation is to be able to manipulate with that data without
any worries that other parts of the project will be broken.

I'm trying to create the same way of cont

[2019-10-09 19:32] saphal1998 commented on #209
@atherdon I was working on the Measurements directory. I wanted to know why all the code in methods.js has been commented out. Could you explain to me what the file is doing?

Upon being run independently, these aren't yielding any outputs either, so if you could tell me what each of these is doing, perhaps I can write a function to mimic its functionality.

[2019-10-09 21:24] atherdon commented on #209
sure, the reason why I did it because I want to move out all methods from
our old es5 version.
So I create a folder(yeah, it getting a bit confusing) and there I'm
storing separated modules for each of our projects. I don't recall if the
method related to measurement direction was actually finished, but if you
go to package.json and see there some modules related to data-methods - it
should contai

[2019-10-20 02:39] saphal1998 commented on #209
@atherdon Can you explain what the GraphQLBackend project is doing? The index.js file in that sub directory, is mostly empty

[2019-10-21 03:34] atherdon opened #307 "code improvements on projects section"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

1. Can it be moved into main generator package?
https://github.com/GroceriStar/food-static-files-generator/blob/master/projects/GroceristarGraphQLBackend/server/index.js#L18-L23

2. Move into separated file: https://github.com/GroceriStar/

[2019-10-21 03:39] atherdon opened #308 "fix our testing coverage"
**Describe the bug**
for some reasons our tests and build is errored. details is here: https://travis-ci.org/GroceriStar/food-static-files-generator/jobs/600509414
buzz me if it'll be hard for you to fix, but i think you can handle it @saphal1998

[2019-11-01 10:43] elnur004 commented on #187
Good afternoon @atherdon,
I did not been here for a long time. So, is there any task for me?

[2019-11-02 11:33] #307 closed

[2019-11-02 11:34] #228 closed

[2019-11-02 11:35] #66 closed

[2019-11-02 11:35] #60 closed

[2019-11-02 11:35] #61 closed

[2019-11-02 11:35] #63 closed

[2019-11-02 11:36] #40 closed

[2019-11-02 11:43] atherdon commented on #187
Sure @elnur004 glad to see you again!
first thing will be - you should sync your fork with changes that were made in this repository.

[2019-11-02 11:45] atherdon commented on #187
a quick task for giving you some ideas about new folder organization is to remove `Output, Play, Debug` folders

[2019-11-02 11:47] atherdon opened #322 "isFolderExists errors"
**Describe the bug**
We need to fix our travis build output. right now one method is crashing everything and i think it can be solved pretty quickly.
check output here: https://travis-ci.org/GroceriStar/food-static-files-generator/jobs/606401118

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear

[2019-11-02 12:06] atherdon opened #323 "Fix "method_complexity" issue in package/src/fileSystem.js"
Function `save` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/GroceriStar/food-static-files-generator/package/src/fileSystem.js#issue_5dbd70edf5237a0001000035

[2019-11-02 12:06] atherdon opened #324 "Fix "method_complexity" issue in package/src/fileSystem.js"
Function `deleteFolderRecursive` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/GroceriStar/food-static-files-generator/package/src/fileSystem.js#issue_5dbd70edf5237a0001000036

[2019-11-02 12:07] atherdon commented on #323
@elnur004

[2019-11-02 12:07] atherdon commented on #324
@el

[2019-11-17 03:05] atherdon opened #338 "eslint errors"
**Describe the bug**
A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/1469198/69002421-3c079000-0900-11ea-8473-a80aaf940e74.png)

[2019-11-24 03:01] atherdon commented on #338
@Edebo here we definitely have some warnings :)

[2019-12-07 21:06] Edebo commented on #338
so will close this issue

[2019-12-07 22:24] #338 closed

[2019-12-08 10:15] #13 closed

[2019-12-08 10:16] atherdon commented on #149
can you take a look at this task and explore was it completed or not @Edebo ?

[2019-12-09 11:45] Edebo commented on #149
ok

[2021-02-20 08:10] #207 closed

[2021-10-19 00:36] renovate[bot] opened #434 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency regenerator-runtime to v0.13.9
 - [ ] Update dependency standard to v16.0.4
 - [ ] Update dependency eslint to v8
 - [